.time-custom-negative-sign {
  position: relative;
}

.time-custom-negative-sign video {
  width: 100%;
  border-radius: 0.5rem;
}

.time-custom-negative-sign__value {
  font-variant-numeric: tabular-nums;
}
