.react-thumbnail-json-sprite-array {
  max-width: 280px;
}

.react-thumbnail-json-sprite-array__thumbnail {
  display: block;
  width: auto;
  min-width: 0;
  max-width: 240px;
}

.react-thumbnail-json-sprite-array__thumbnail[data-hidden] {
  display: none;
}
