---
import { ChevronDown } from 'lucide-react';
import type { Guide, SupportedFramework } from '@/types/docs';

type Props = {
  prev: Guide | null;
  next: Guide | null;
  framework: SupportedFramework;
  docTitles: Map<string, string>;
};

const { prev, next, framework, docTitles } = Astro.props;

function getGuideUrl(framework: SupportedFramework, slug: string): string {
  return `/docs/framework/${framework}/${slug}`;
}
---

<nav class="mx-auto grid w-full max-w-3xl grid-cols-1 gap-5 md:grid-cols-2">
  {
    prev ? (
      /* TODO(old-color): light-40, dark-80, dark-40, light-40 */
      <a
        href={getGuideUrl(framework, prev.slug)}
        class="dark:border-dark-80 dark:intent:border-dark-40 grid items-center gap-x-2 rounded-xs border border-manila-75 bg-manila-50 p-4 intent:bg-manila-dark"
        style="grid-template-areas: 'empty direction' 'icon title'; grid-template-columns: auto minmax(0,1fr); grid-template-rows: auto minmax(0,1fr);"
      >
        {/* TODO(old-color): dark-80, light-40 */}
        <div
          class="text-dark-80 dark:text-light-40 text-p3"
          style="grid-area: direction;"
        >
          Previous
        </div>
        {/* TODO(old-type): text-base */}
        <div class="text-base font-bold text-balance" style="grid-area: title">
          {prev.sidebarLabel || docTitles.get(prev.slug)}
        </div>
        <div style="grid-area: icon">
          <ChevronDown size={12} className="rotate-90" />
        </div>
      </a>
    ) : (
      <div />
    )
  }
  {
    next ? (
      /* TODO(old-color): light-40, dark-80, dark-40, light-40 */
      <a
        href={getGuideUrl(framework, next.slug)}
        class="dark:border-dark-80 dark:intent:border-dark-40 grid items-center gap-x-2 rounded-xs border border-manila-75 bg-manila-50 p-4 intent:bg-manila-dark"
        style="grid-template-areas: 'direction empty' 'title icon';grid-template-columns: minmax(0,1fr) auto; grid-template-rows: auto minmax(0,1fr);"
      >
        {/* TODO(old-color): dark-80, light-40 */}
        <div
          class="text-dark-80 dark:text-light-40 text-p3"
          style="grid-area: direction;"
        >
          Next
        </div>
        {/* TODO(old-type): text-base */}
        <div class="text-base font-bold text-balance" style="grid-area: title">
          {next.sidebarLabel || docTitles.get(next.slug)}
        </div>
        <div style="grid-area: icon">
          <ChevronDown size={12} className="-rotate-90" />
        </div>
      </a>
    ) : (
      <div />
    )
  }
</nav>
