---

import { GITHUB_REPO_URL } from '@/consts';

type Props = {
  filePath: string;
};

const { filePath } = Astro.props;
const editUrl = `${GITHUB_REPO_URL}edit/main/${filePath}`;
---

<div class="w-full max-w-3xl mx-auto">
  <a href={editUrl} target="_blank" rel="noopener noreferrer" class="underline intent:no-underline text-sm">
    Edit page
  </a>
</div>
