@layer videojs.components {
  @scope (.media-skin-video) {
    .media-container {
      isolation: isolate;
      border-radius: var(--media-radius-surface);
      background-color: #000;
      width: 100%;
      height: 100%;
      display: block;
      position: relative;
      overflow: hidden;
      container: media-container / inline-size;
    }

    .media-container:before {
      pointer-events: none;
      background-image: var(--media-poster-placeholder, none);
      background-size: var(--media-object-fit, contain);
      background-position: var(--media-object-position, center);
      opacity: 0;
      filter: blur(var(--media-poster-placeholder-blur, 20px));
      content: '';
      background-repeat: no-repeat;
      transition-property: opacity;
      transition-duration: 0.25s;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      position: absolute;
      inset: 0;
    }

    .media-container:has(:is(img[data-visible]:not([data-loaded]))):before {
      content: '';
      opacity: 1;
    }

    .media-container video {
      border-radius: inherit;
      object-fit: var(--media-object-fit, contain);
      object-position: var(--media-object-position, center);
      width: 100%;
      height: 100%;
      display: block;
    }
  }
}
