@layer videojs.components {
  @scope (.media-skin-video) {
    .media-error-dialog {
      z-index: 20;
      color: #fff;
      border-radius: 1.75rem;
      outline-style: none;
      flex-direction: column;
      gap: 0.75rem;
      width: calc(100% - 1.5rem);
      max-width: 18rem;
      padding: 0.75rem;
      transition:
        opacity 0.35s cubic-bezier(0, 0, 0.2, 1) 0.1s,
        scale 0.35s cubic-bezier(0, 0, 0.2, 1) 0.1s,
        transform 0.35s cubic-bezier(0, 0, 0.2, 1) 0.1s;
      display: flex;
      position: absolute;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
    }

    .media-error-dialog:not([data-open]) {
      display: none;
    }

    .media-error-dialog[data-ending-style] {
      opacity: 0;
      transition-delay: 0s;
      scale: 0.5;
    }

    .media-error-dialog[data-starting-style] {
      opacity: 0;
      scale: 0.5;
    }

    @media (prefers-reduced-motion: reduce) {
      .media-error-dialog {
        transition-duration: 50ms;
        transition-delay: 0s;
      }
    }

    .media-error-dialog-close {
      color: #000;
      background-color: #fff;
      width: 100%;
      height: 2.25rem;
      padding-inline: 1rem;
      font-weight: 500;
    }

    .media-error-dialog-close-minimal {
      max-width: 16rem;
    }

    .media-error-dialog-description {
      overflow-wrap: anywhere;
      opacity: 0.7;
      padding-inline: 0.5rem;
      padding-bottom: 0.375rem;
    }

    .media-error-dialog-description-minimal {
      padding-inline: 0;
      width: 100%;
      max-width: 16rem;
      padding-bottom: 0.375rem;
    }

    .media-error-dialog-minimal {
      pointer-events: none;
      backdrop-filter: none;
      width: 100%;
      max-width: none;
      height: 100%;
      transition-duration: var(--error-dialog-transition-duration);
      background-color: #0000;
      border-radius: 0;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      inset: 0;
      translate: 0;
      box-shadow:
        0 0 #0000,
        0 0 #0000,
        0 0 #0000,
        0 0 #0000,
        0 0 #0000;
    }

    .media-error-dialog-minimal:after {
      content: '';
      display: none;
    }

    .media-error-dialog-minimal > * {
      pointer-events: auto;
    }

    .media-error-dialog-title {
      font-size: var(--media-font-size);
      padding-inline: 0.5rem;
      padding-top: 0.5rem;
      font-weight: 600;
      line-height: 1.25;
    }

    .media-error-dialog-title-minimal {
      width: 100%;
      max-width: 16rem;
      font-size: calc(var(--media-font-size) * 1.15);
      padding-inline: 0;
      padding-top: 0.375rem;
    }
  }
}
