@layer videojs.components {
  @scope (.media-skin-video) {
    .media-overlay {
      pointer-events: none;
      border-radius: inherit;
      background-image: linear-gradient(to top, oklch(0% 0 0 / 0.5), oklch(0% 0 0 / 0.3) 25%, #0000);
      position: absolute;
      inset: 0;
    }
  }
}
