@layer videojs.components {
  @scope (.media-skin-video) {
    .media-chapter-title {
      text-overflow: ellipsis;
      white-space: nowrap;
      min-width: 0;
      max-width: 12rem;
      overflow: hidden;
    }

    .media-chapter-title:empty {
      display: none;
    }

    .media-preview-value {
      font-variant-numeric: tabular-nums;
      flex-direction: column;
      align-items: center;
      max-width: 12rem;
      display: flex;
      position: absolute;
      bottom: calc(100% + 0.75rem);
    }

    .media-slider {
      min-height: var(--media-control-size);
      cursor: pointer;
      outline-style: none;
      flex: 1;
      justify-content: center;
      align-items: center;
      min-width: 5rem;
      display: flex;
      position: relative;
    }

    .media-slider[data-orientation='vertical'] {
      height: 5rem;
      width: var(--media-control-size);
      min-width: 0;
    }

    .media-slider-buffer {
      width: var(--media-slider-buffer);
      border-radius: inherit;
      background-color: var(--media-slider-buffer-background);
      inset-block: 0;
      position: absolute;
      left: 0;
    }

    .media-slider-buffer[data-orientation='vertical'] {
      height: var(--media-slider-buffer);
      inset-inline: 0;
      width: auto;
      top: auto;
      bottom: 0;
    }

    .media-slider-chapter {
      --chapter-gap: 0.25rem;
      --chapter-inset-end: 0.5;
      --chapter-inset-start: 0.5;
      justify-content: center;
      align-items: center;
      min-width: 0;
      min-height: 0;
      display: flex;
      position: absolute;
      inset: 0;
    }

    .media-slider-chapter:first-child {
      --chapter-inset-start: 0;
    }

    .media-slider-chapter:last-child {
      --chapter-inset-end: 0;
    }

    .media-slider-chapter[data-orientation='horizontal'] {
      clip-path: inset(0 calc(100% - var(--media-slider-chapter-end)) 0 var(--media-slider-chapter-start));
    }

    .media-slider-chapter[data-orientation='vertical'] {
      clip-path: inset(calc(100% - var(--media-slider-chapter-end)) 0 var(--media-slider-chapter-start) 0);
    }

    .media-slider-chapter-track {
      isolation: isolate;
      border-radius: var(--media-radius-pill);
      background-color: var(--media-slider-track-background);
      -webkit-user-select: none;
      user-select: none;
      position: relative;
      overflow: hidden;
    }

    .media-slider-chapter-track[data-orientation='horizontal'] {
      height: var(--media-slider-track-size);
      width: 100%;
      clip-path: inset(
        0 calc(100% - var(--media-slider-chapter-end) + var(--chapter-gap) * var(--chapter-inset-end)) 0
          calc(var(--media-slider-chapter-start) + var(--chapter-gap) * var(--chapter-inset-start)) round
          var(--media-radius-pill)
      );
    }

    @scope (.media-slider-chapter) {
      &[data-highlighted] .media-slider-chapter-track[data-orientation='horizontal'] {
        height: calc(var(--media-slider-track-size) * 1.75);
      }
    }

    .media-slider-chapter-track[data-orientation='vertical'] {
      height: 100%;
      width: var(--media-slider-track-size);
      clip-path: inset(
        calc(100% - var(--media-slider-chapter-end) + var(--chapter-gap) * var(--chapter-inset-end)) 0
          calc(var(--media-slider-chapter-start) + var(--chapter-gap) * var(--chapter-inset-start)) 0 round
          var(--media-radius-pill)
      );
    }

    @scope (.media-slider-chapter) {
      &[data-highlighted] .media-slider-chapter-track[data-orientation='vertical'] {
        width: calc(var(--media-slider-track-size) * 1.75);
      }
    }

    @media (prefers-reduced-motion: no-preference) {
      .media-slider-chapter-track {
        transition-property: height, width;
        transition-duration: 0.2s;
        transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
      }
    }

    .media-slider-chapters {
      border-radius: inherit;
      flex: 1;
      align-items: center;
      width: 100%;
      min-width: 0;
      height: 100%;
      min-height: 0;
      display: flex;
      position: relative;
    }

    .media-slider-fill {
      width: var(--media-slider-fill);
      border-radius: inherit;
      inset-block: 0;
      background-color: currentColor;
      position: absolute;
      left: 0;
    }

    .media-slider-fill[data-orientation='vertical'] {
      height: var(--media-slider-fill);
      inset-inline: 0;
      width: auto;
      top: auto;
      bottom: 0;
    }

    .media-slider-preview {
      position: relative;
    }

    .media-slider-thumb {
      top: 50%;
      left: var(--media-slider-fill);
      width: var(--media-slider-thumb-size);
      height: var(--media-slider-thumb-size);
      border-radius: var(--media-radius-pill);
      background-color: currentColor;
      position: absolute;
      translate: -50% -50%;
    }

    .media-slider-thumb[data-orientation='vertical'] {
      top: calc(100% - var(--media-slider-fill));
      left: 50%;
    }

    .media-slider-track {
      height: var(--media-slider-track-size);
      border-radius: var(--media-radius-pill);
      background-color: var(--media-slider-track-background);
      width: 100%;
      position: relative;
      overflow: hidden;
    }

    .media-slider-track[data-orientation='vertical'] {
      height: 100%;
      width: var(--media-slider-track-size);
    }

    .media-slider-value {
      font-variant-numeric: tabular-nums;
    }

    .media-spinner-icon {
      width: var(--media-icon-size);
      height: var(--media-icon-size);
      filter: drop-shadow(0 1px 0 var(--media-shadow-color));
    }

    .media-thumbnail {
      border-radius: var(--media-radius-surface);
      position: absolute;
      bottom: calc(100% + 0.75rem);
      overflow: hidden;
    }

    .media-thumbnail-image {
      max-width: 12rem;
      max-height: 7rem;
      transition-property: opacity;
      transition-duration: 0.15s;
      transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
      display: block;
    }

    .media-thumbnail-image[data-loading] {
      opacity: 0;
    }
  }
}
