@import '../styles/base.css';
@import '../styles/themes/default.css';
@import '../styles/support.css';

.media-slider-fill {
  width: var(--media-slider-fill);
  border-radius: inherit;
  inset-block: 0;
  background-color: currentColor;
  position: absolute;
  left: 0;
}

.media-slider-fill[data-orientation='vertical'] {
  height: var(--media-slider-fill);
  inset-inline: 0;
  width: auto;
  top: auto;
  bottom: 0;
}

.media-slider-root {
  min-height: var(--media-control-size);
  cursor: pointer;
  --tw-outline-style: none;
  outline-style: none;
  flex: 1;
  justify-content: center;
  align-items: center;
  min-width: 5rem;
  display: flex;
  position: relative;
}

.media-slider-root[data-orientation='vertical'] {
  height: 5rem;
  width: var(--media-control-size);
  min-width: 0;
}

.media-slider-thumb {
  top: 50%;
  left: var(--media-slider-fill);
  width: var(--media-slider-thumb-size);
  height: var(--media-slider-thumb-size);
  --tw-translate-x: calc(calc(1 / 2 * 100%) * -1);
  --tw-translate-y: calc(calc(1 / 2 * 100%) * -1);
  translate: var(--tw-translate-x) var(--tw-translate-y);
  border-radius: var(--media-radius-pill);
  background-color: currentColor;
  position: absolute;
}

.media-slider-thumb[data-orientation='vertical'] {
  top: calc(100% - var(--media-slider-fill));
  left: 50%;
}

.media-slider-track {
  height: var(--media-slider-track-size);
  border-radius: var(--media-radius-pill);
  background-color: var(--media-slider-track-background);
  width: 100%;
  position: relative;
  overflow: hidden;
}

.media-slider-track[data-orientation='vertical'] {
  height: 100%;
  width: var(--media-slider-track-size);
}
