---
import FrameworkControl from '@/components/home/FrameworkControl';
import HeroVideo from '@/components/home/HeroVideo';
import SkinControl from '@/components/home/SkinControl';
import MuxLogoSmall from '@/components/icons/mux-logo-small.svg?react';
import { VJS10_DEMO_VIDEO } from '@/consts';

const poster = `${VJS10_DEMO_VIDEO.poster}?time=0`;
---

<link
  rel="preload"
  href={poster}
  as="image"
  type="image/webp"
  fetchpriority="high"
  slot="priority-head"
/>
<header
  class="relative grid grid-cols-1 [grid-template-areas:var(--grid-template-areas)] md:[grid-template-areas:var(--md-grid-template-areas)] w-full max-w-305 mx-auto px-5 pt-19 md:py-0 mb-25"
  style="--grid-template-areas: 'title' 'description' 'video' 'mux' 'control'; --md-grid-template-areas: 'video' 'mux' 'description' 'control'"
>
  <h1
    class="text-h2 lg:text-h1 z-10 w-full font-display-extended uppercase justify-self-center self-center md:text-light-manila text-center text-balance mb-5 md:mb-0 md:px-5 [grid-area:var(--grid-area)] md:[grid-area:var(--md-grid-area)]"
    style="--grid-area: title; --md-grid-area: video;"
  >
    The Open Source Player <br class="lg:hidden" /><span
      class="text-stroke-faded-black md:text-stroke-light-manila"
      >for the Web</span
    >
  </h1>
  {/* the additional px-5 is intentional */}
  <p
    class="w-full text-p2 lg:text-p1 font-normal text-warm-gray dark:text-light-manila mx-auto text-center px-5 mb-20 md:mb-25 text-balance max-w-195"
    style="grid-area:description"
  >
    For over 15 years, Video.js has been the world's web video player. Now
    rebuilt in v10 for modern development and performance.
  </p>

  <HeroVideo
    client:load
    className="aspect-2/1 mb-3 md:aspect-1180/570 md:mb-4"
    style={{ gridArea: "video" }}
    poster={poster}
  />
  <p
    class="flex items-center justify-center md:justify-end md:pr-6 md:font-display-extended md:uppercase gap-2.5 md:mb-20 md:text-(length:--md-text) mb-11"
    style="grid-area:mux;--md-text:0.75rem;"
  >
    Video hosting by <MuxLogoSmall className="inline" width="3.25rem" />
  </p>
  <div
    class="grid grid-cols-1 md:grid-cols-2 items-center justify-center gap-9"
    style="grid-area:control"
  >
    <SkinControl client:idle />
    <FrameworkControl client:idle className="hidden md:grid" />
  </div>
</header>
