---
import clsx from 'clsx';
import Check from '../icons/check.svg?react';

const milestones = [
  {
    date: 'Oct 2025',
    title: 'Tech Preview',
    description: 'Kick the tires, and light the fires',
    completed: true,
  },
  {
    date: 'Mar 2026',
    title: 'Beta',
    description: 'Close to stable. Experimental adoption in real projects',
    completed: true,
  },
  {
    date: 'Mid 2026',
    title: 'GA',
    description: 'Stable APIs. Feature parity w/ Media Chrome, Vidstack, Plyr.',
    completed: false,
  },
  {
    date: 'End of 2026',
    title: 'Core Feature Parity',
    description: 'Video.js core/contrib plugins migrated',
    completed: false,
  },
];
---

<section class="w-full max-w-305 mx-auto px-5">
  <header
    class="py-4 border-t mb-12 border-b border-y-faded-black dark:border-y-light-manila"
  >
    <h2
      class="text-h2 text-faded-black dark:text-light-manila text-center font-display-extended uppercase font-bold"
    >
      Roadmap
    </h2>
  </header>

  <div class="h-full relative mb-20 lg:mb-30">
    <div class="grid md:grid-cols-4 gap-15 md:gap-8 lg:gap-12 relative">
      {
        milestones.map((milestone) => (
          <div class="flex md:flex-col gap-12 md:gap-0 md:items-center text-left md:text-center relative">
            <p class="hidden md:block relative z-10 text-h4 font-display-extended font-bold uppercase pb-4 text-faded-black dark:text-light-manila">
              {milestone.date}
            </p>
            <div class="relative w-auto md:w-full flex justify-center py-0.5">
              <div
                class={clsx(
                  "relative z-10 w-10 h-10 rounded-full border bg-light-manila dark:bg-faded-black flex items-center justify-center",
                  milestone.completed ? "border-orange" : "border-dark-manila",
                )}
              >
                {milestone.completed && (
                  <Check width={"1.03rem"} className="text-orange" />
                )}
              </div>
            </div>
            <div>
              <p class="block md:hidden relative z-10 font-display-extended font-bold uppercase tracking-wider text-faded-black dark:text-light-manila text-h3">
                {milestone.date}
              </p>
              <h3 class="text-orange font-display-extended font-bold uppercase text-h3 lg:text-h2 leading-none md:mt-5 md:px-1">
                {milestone.title}
              </h3>
              <p class="text-p2 md:mx-auto mt-2.5 max-w-55 text-warm-gray dark:text-light-manila">
                {milestone.description}
              </p>
            </div>
          </div>
        ))
      }
      <div class="hidden md:block absolute mt-5 left-0 w-full">
        <div
          class="absolute top-3 left-0 h-8 w-full data-bar brightness-50 dark:brightness-100 z-0"
        >
        </div>
        <div
          class="absolute bg-light-manila dark:bg-faded-black top-3 left-0 h-8 data-bar data-bar-orange z-2"
          style="max-width: 37.5%"
        >
        </div>
        <div
          class="absolute top-3 left-0 h-10 w-50 bg-linear-to-r from-light-manila dark:from-faded-black to-transparent z-3"
        >
        </div>
        <div
          class="absolute top-3 right-0 h-10 w-50 bg-linear-to-r to-light-manila dark:to-faded-black from-transparent z-4"
        >
        </div>
      </div>
      <div class="block md:hidden absolute mt-0 left-0 h-full w-10 top-0">
        <div
          class="absolute top-0 left-0 h-8 w-full horizontal-bars brightness-50 dark:brightness-100 z-0"
        >
        </div>
        <div
          class="absolute bg-light-manila dark:bg-faded-black top-0 left-0 h-10 horizontal-bars horizontal-bars-orange z-2"
          style="max-height: 30%"
        >
        </div>
        <div
          class="absolute bottom-0 right-0 w-10 h-50 bg-linear-to-b to-light-manila dark:to-faded-black from-transparent z-4"
        >
        </div>
        <div
          class="absolute top-0 right-0 w-10 h-20 bg-linear-to-b from-light-manila dark:from-faded-black to-transparent z-4"
        >
        </div>
      </div>
    </div>
  </div>
</section>
