@layer theme, base, videojs.base, components, videojs.theme, videojs.components, utilities;

@import "./captions.css";
@import "./themes/video.css";
@import "./themes/default.css";
@import "./themes/minimal.css";

@layer videojs.base {
  @scope (.media-skin) {
    :scope,
    *,
    ::before,
    ::after {
      box-sizing: border-box;
    }

    button {
      font: inherit;
      color: inherit;
      letter-spacing: inherit;
    }

    svg {
      display: block;
    }

    [hidden] {
      /* Hidden must override component display styles. */
      display: none !important;
    }
  }
}
