@layer theme, base, videojs.base, components, videojs.theme, videojs.components, utilities;

@import "./captions.css";
@import "./themes/video.css";
@import "./themes/default.css";
@import "./themes/minimal.css";

@layer videojs.base {
  @scope (.media-skin) {
    :scope,
    *,
    ::before,
    ::after {
      box-sizing: border-box;
    }

    button {
      margin: 0;
      font: inherit;
      color: inherit;
      text-transform: none;
      letter-spacing: inherit;
      appearance: none;
      background: none;
    }

    img,
    svg,
    media-icon {
      display: block;
      max-width: 100%;
      margin: 0;
    }

    svg[fill="currentColor"] {
      fill: currentColor;
    }

    svg[fill="none"] {
      fill: none;
    }

    svg[stroke="currentColor"] {
      stroke: currentColor;
    }

    video {
      display: block;
      width: 100%;
      height: 100%;
      max-width: 100%;
      border-radius: inherit;
      object-fit: var(--media-object-fit, contain);
      object-position: var(--media-object-position, center);
    }

    media-icon > svg {
      width: 100%;
      height: 100%;
    }

    media-tooltip-group,
    media-dialog,
    media-alert-dialog,
    media-error-dialog,
    media-controls {
      display: contents;
    }

    [hidden][hidden] {
      /* Hidden must override component display styles. */
      display: none !important;
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    .media-skin {
      interpolate-size: allow-keywords;
    }
  }
}
