@layer theme, base, videojs.base, components, videojs.theme, videojs.components, utilities;

@import "./captions.css";
@import "./themes/video.css";
@import "./themes/default.css";
@import "./themes/minimal.css";

@layer videojs.base {
  @scope (.media-skin) {
    :scope,
    *,
    ::before,
    ::after {
      box-sizing: border-box;
    }

    button {
      font: inherit;
      color: inherit;
      letter-spacing: inherit;
    }

    img,
    svg,
    media-icon {
      display: block;
      max-width: 100%;
    }

    video {
      display: block;
      width: 100%;
      height: 100%;
      max-width: 100%;
      border-radius: inherit;
      object-fit: var(--media-object-fit, contain);
      object-position: var(--media-object-position, center);
    }

    media-icon > svg {
      width: 100%;
      height: 100%;
    }

    media-tooltip-group,
    media-dialog,
    media-alert-dialog,
    media-error-dialog,
    media-controls {
      display: contents;
    }

    [hidden] {
      /* Hidden must override component display styles. */
      display: none !important;
    }
  }
}
