---
---

<div
  class="rounded-xs border border-manila-dark bg-faded-black p-5 md:p-10 lg:p-15"
>
  <p class="text-p2 text-manila-light">
    Video.js 10 is complete ground-up rewrite of the player for the modern web.
    The UI is separated from the underlying media renderer. Every component is
    independent and works together through open API contracts. We've structured
    the project for modern JavaScript bundlers to support tree-shaking and
    intelligent code splitting.
    <br />
    <br />
    Start with a small player and only add what you need.
  </p>
</div>
