@import "./components/reset.css";
@import "./components/container.css";
@import "./components/media.css";
@import "./components/overlay.css";
@import "./components/buffering.css";
@import "./components/error.css";
@import "./components/controls.css";
@import "./components/time.css";
@import "./components/button.css";
@import "./components/button-group.css";
@import "./components/badge.css";
@import "./components/icons.css";
@import "./components/poster.css";
@import "./components/thumbnail.css";
@import "./components/slider.css";
@import "./components/popup.css";
@import "./components/menus.css";
@import "./components/captions.css";
@import "./components/input-indicator-overlay.css";
@import "./components/input-indicator.css";
@import "./components/volume-indicator.css";
@import "./components/status-indicator.css";
@import "./components/seek-indicator.css";
@import "../../shared/css/video/icon-state.css";

/* Container */

.media-minimal-skin--video {
  --default-accent-color: oklch(1 0 0);
  --border-color: light-dark(oklch(0 0 0 / 0.15), oklch(1 0 0 / 0.15));
  --focus-ring-color: light-dark(oklch(0 0 0), oklch(1 0 0));
  --media-video-border-radius: var(--container-border-radius);

  --controls-background-color: transparent;
  --controls-transition-duration: 100ms;
  --controls-transition-timing-function: ease-out;

  --error-dialog-transition-duration: 150ms;
  --error-dialog-transition-delay: 100ms;
  --error-dialog-transition-timing-function: ease-out;

  --popup-transition-duration: 100ms;
  --popup-transition-timing-function: ease-out;

  --popover-backdrop-filter: blur(16px) saturate(1.5);
  --popover-background-color: oklch(0 0 0 / 0.5);
  --popover-border-color: oklch(1 0 0 / 0.1);

  --tooltip-backdrop-filter: var(--popover-backdrop-filter);
  --tooltip-background-color: var(--popover-background-color);
  --tooltip-border-color: var(--popover-border-color);

  --tooltip-text-color: currentColor;

  overflow: clip;
  background: oklch(0 0 0);

  @media (prefers-reduced-motion: reduce) {
    --error-dialog-transition-duration: 50ms;
    --error-dialog-transition-delay: 0ms;
    --popup-transition-duration: 0ms;
  }

  @media (prefers-reduced-transparency: reduce) or (prefers-contrast: more) {
    --controls-background-color: oklch(0 0 0);
    --tooltip-background-color: oklch(0 0 0);
  }

  &:has(.media-controls:not([data-visible])) {
    /* Slight delay to hide controls on non-touch devices after interaction */
    @media (pointer: fine) {
      --controls-transition-duration: 300ms;
    }
    @media (pointer: coarse) {
      --controls-transition-duration: 150ms;
    }
    @media (prefers-reduced-motion: reduce) {
      --controls-transition-duration: 50ms;
    }
  }

  /* Inner border ring */
  &::after {
    position: absolute;
    inset: 0;
    z-index: 10;
    pointer-events: none;
    content: "";
    border-radius: inherit;
    box-shadow: inset 0 0 0 1px var(--border-color);
  }

  &:fullscreen {
    --container-border-radius: 0;

    &::after {
      display: none;
    }

    @media (width >= 1280px) {
      --scale: 1.25;
    }
    @media (width >= 1536px) {
      --scale: 1.5;
    }
    @media (width >= 1920px) {
      --scale: 1.75;
    }
  }
}

/* Error Dialog */

.media-minimal-skin--video .media-error {
  position: absolute;
  inset: 0;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  outline: none;
}

.media-minimal-skin--video .media-error__dialog {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 3);
  width: 100%;
  max-width: calc(var(--spacing) * 64);
  padding: calc(var(--spacing) * 4);
  color: oklch(1 0 0);
  text-shadow: 0 1px 0 oklch(0 0 0 / 0.5);
  pointer-events: auto;
  transition-delay: var(--error-dialog-transition-delay);
  transition-timing-function: var(--error-dialog-transition-timing-function);
  transition-duration: var(--error-dialog-transition-duration);
  transition-property: opacity, scale;
}

.media-minimal-skin--video .media-error__content {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 2);
  padding: calc(var(--spacing) * 1.5) 0;
}

.media-minimal-skin--video .media-error__title {
  font-size: var(--font-size-medium);
}

.media-minimal-skin--video .media-error[data-starting-style] .media-error__dialog,
.media-minimal-skin--video .media-error[data-ending-style] .media-error__dialog {
  opacity: 0;
  scale: 0.5;
}
.media-minimal-skin--video .media-error[data-ending-style] .media-error__dialog {
  transition-delay: 0ms;
}

/* Controls (hide/show behavior) */

.media-minimal-skin--video .media-controls {
  --base-side-offset: 5;
  --base-boundary-offset: 1;
  --inset-factor: 1;
  --inset: calc(var(--spacing) * var(--inset-factor));

  position: absolute;
  inset-inline: var(--inset);
  bottom: var(--inset);
  z-index: 10;
  flex-wrap: wrap;
  column-gap: calc(var(--spacing) * 2);
  color: oklch(1 0 0);
  border-radius: calc(var(--spacing) * 3);
  transition-timing-function: var(--controls-transition-timing-function);
  /* Speed up the entry transition */
  transition-duration: calc(var(--controls-transition-duration) / 2);

  @media (pointer: fine) {
    transition-property: translate, filter, opacity;
    will-change: translate, filter, opacity;
  }

  @media (pointer: coarse) {
    transition-property: translate, opacity;
    will-change: translate, opacity;
  }

  &:not([data-visible]) {
    pointer-events: none;
    opacity: 0;
    transition-duration: var(--controls-transition-duration);

    @media (pointer: fine) and (prefers-reduced-motion: no-preference) {
      filter: blur(8px);
    }

    @media (prefers-reduced-motion: no-preference) {
      translate: 0 100%;
    }
  }

  .media-time-controls {
    --slider-height: calc(var(--spacing) * 5);

    flex: 0 0 100%;
    order: -1;
    padding-inline: calc(var(--spacing) * 1.5);
  }

  .media-button-group:first-child {
    flex: 1;
    text-align: left;
  }

  .media-button-group:last-child {
    flex: 1;
    justify-content: end;
  }

  @container media-root (width > 42rem) {
    --inset-factor: 2;
    --base-side-offset: 2;

    flex-wrap: nowrap;

    .media-time-controls {
      --slider-height: calc(var(--spacing) * 8);

      flex: 1;
      order: unset;
    }

    .media-button-group:first-child,
    .media-button-group:last-child {
      flex: 0 0 auto;
    }

    .media-time-controls {
      mask-position: 100% 0;
      mask-size: 200% 100%;
      transition: mask-position 50ms ease-out;
    }

    &:has(.media-button--mute[aria-expanded="true"]) .media-time-controls {
      mask-image: linear-gradient(to right, transparent 10%, #000 25%, #000 100%);
    }

    &:has(.media-button--mute[aria-expanded="true"]) .media-time-controls {
      mask-position: 0 0;
    }
  }
}

.media-minimal-skin--video .media-error[data-open] ~ .media-controls {
  display: none;
}

/* Hide cursor when controls are hidden */
.media-minimal-skin--video:has(.media-controls:not([data-visible])) {
  cursor: none;
}

/* Popups & Animations */

.media-minimal-skin--video .media-popover--volume {
  padding: 0;
  background: transparent;
}

/* Slider preview */

.media-minimal-skin--video .media-slider .media-slider__preview {
  --preview-end-inset: calc(100cqi - 100%);
  --preview-left: clamp(
    calc(var(--max-width) / 2),
    var(--media-slider-pointer),
    calc(100% - var(--max-width) / 2 + var(--preview-end-inset))
  );

  @container media-root (width > 42rem) {
    --preview-left: var(--media-slider-pointer);
  }
}
