/* ==========================================================================
   Controls
   ========================================================================== */

.media-minimal-skin .media-controls {
  display: flex;
  align-items: center;
  container: media-controls / inline-size;
  text-shadow: 0 1px 0 var(--media-current-shadow-color);
  background-color: var(--media-controls-background-color);
  backdrop-filter: var(--media-controls-backdrop-filter);
}
