.media-skin--minimal ::slotted(video),
.media-skin--minimal video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: var(--media-object-fit, contain);
  object-position: var(--media-object-position, center);
}
.media-skin--minimal ::slotted(video) {
  border-radius: var(--media-container-border-radius);
}
.media-skin--minimal video {
  border-radius: inherit;
}

.media-skin--minimal:fullscreen ::slotted(video),
.media-skin--minimal:fullscreen video {
  object-fit: contain;
}
