@layer videojs.components {
  @scope (.media-skin-video-minimal) {
    .media-airplay-button:not([data-airplay-state='connected']) {
      --media-icon--airplay__fill-animation: none;
      --media-icon--airplay__triangle-animation: none;
    }

    .media-airplay-enter-icon {
      opacity: 0;
      display: none;
    }

    @scope (.media-airplay-button) {
      &:not([data-airplay-state='connected']) .media-airplay-enter-icon {
        opacity: 1;
        display: block;
      }
    }

    .media-airplay-exit-icon {
      opacity: 0;
      display: none;
    }

    @scope (.media-airplay-button) {
      &[data-airplay-state='connected'] .media-airplay-exit-icon {
        opacity: 1;
        display: block;
      }
    }

    .media-button {
      width: var(--media-control-size);
      height: var(--media-control-size);
      cursor: pointer;
      touch-action: manipulation;
      border-radius: var(--media-radius-pill);
      text-align: center;
      min-height: 0;
      color: inherit;
      outline-offset: -2px;
      -webkit-user-select: none;
      user-select: none;
      background-color: #0000;
      border-style: solid;
      border-width: 0;
      outline: 2px solid #0000;
      flex-shrink: 0;
      place-items: center;
      padding: 0;
      transition-property: background-color, color, outline-offset, scale;
      transition-duration: 0.15s;
      transition-timing-function: ease-out;
      display: grid;
    }

    @media (hover: hover) {
      .media-button:hover {
        background-color: var(--media-control-hover-background);
      }
    }

    .media-button:focus-visible {
      background-color: var(--media-control-hover-background);
      outline-offset: 2px;
      outline-color: currentColor;
    }

    .media-button:not([aria-disabled='true']):active {
      scale: 0.9;
    }

    .media-button[aria-disabled='true'] {
      cursor: not-allowed;
      opacity: 0.5;
    }

    .media-button[aria-expanded='true'] {
      background-color: var(--media-control-hover-background);
    }

    .media-button-icon {
      width: var(--media-icon-size);
      height: var(--media-icon-size);
      filter: drop-shadow(0 1px 0 var(--media-shadow-color));
    }

    .media-captions-off-icon {
      opacity: 0;
      display: none;
    }

    @scope (.media-captions-button) {
      &:not([data-active]) .media-captions-off-icon {
        opacity: 1;
        display: block;
      }
    }

    .media-captions-on-icon {
      opacity: 0;
      display: none;
    }

    @scope (.media-captions-button) {
      &[data-active] .media-captions-on-icon {
        opacity: 1;
        display: block;
      }
    }

    .media-cast-enter-icon {
      opacity: 0;
      display: none;
    }

    @scope (.media-cast-button) {
      &:not([data-cast-state='connected']) .media-cast-enter-icon {
        opacity: 1;
        display: block;
      }
    }

    .media-cast-exit-icon {
      opacity: 0;
      display: none;
    }

    @scope (.media-cast-button) {
      &[data-cast-state='connected'] .media-cast-exit-icon {
        opacity: 1;
        display: block;
      }
    }

    .media-fullscreen-enter-icon {
      opacity: 0;
      display: none;
    }

    @scope (.media-fullscreen-button) {
      &:not([data-fullscreen]) .media-fullscreen-enter-icon {
        opacity: 1;
        display: block;
      }
    }

    .media-fullscreen-exit-icon {
      opacity: 0;
      display: none;
    }

    @scope (.media-fullscreen-button) {
      &[data-fullscreen] .media-fullscreen-exit-icon {
        opacity: 1;
        display: block;
      }
    }

    .media-pause-icon {
      opacity: 0;
      display: none;
    }

    @scope (.media-play-button) {
      &[data-started]:not([data-paused]):not([data-ended]) .media-pause-icon {
        opacity: 1;
        display: block;
      }
    }

    .media-pip-enter-icon {
      opacity: 0;
      display: none;
    }

    @scope (.media-pip-button) {
      &:not([data-pip]) .media-pip-enter-icon {
        opacity: 1;
        display: block;
      }
    }

    .media-pip-exit-icon {
      opacity: 0;
      display: none;
    }

    @scope (.media-pip-button) {
      &[data-pip] .media-pip-exit-icon {
        opacity: 1;
        display: block;
      }
    }

    .media-play-icon {
      opacity: 0;
      display: none;
    }

    @scope (.media-play-button) {
      &:not([data-ended]):not([data-started]) .media-play-icon,
      &:not([data-ended])[data-paused] .media-play-icon {
        opacity: 1;
        display: block;
      }
    }

    .media-restart-icon {
      opacity: 0;
      display: none;
    }

    @scope (.media-play-button) {
      &[data-ended] .media-restart-icon {
        opacity: 1;
        display: block;
      }
    }

    .media-seek-backward-icon {
      scale: -1 1;
    }

    .media-seek-button-label {
      font-variant-numeric: tabular-nums;
    }

    .media-volume-high-icon {
      opacity: 0;
      display: none;
    }

    @scope (.media-mute-button) {
      &:not([data-muted]):not([data-volume-level='low']) .media-volume-high-icon {
        opacity: 1;
        display: block;
      }
    }

    .media-volume-low-icon {
      opacity: 0;
      display: none;
    }

    @scope (.media-mute-button) {
      &:not([data-muted])[data-volume-level='low'] .media-volume-low-icon {
        opacity: 1;
        display: block;
      }
    }

    .media-volume-off-icon {
      opacity: 0;
      display: none;
    }

    @scope (.media-mute-button) {
      &[data-muted] .media-volume-off-icon {
        opacity: 1;
        display: block;
      }
    }
  }
}
