@layer videojs.components {
  @scope (.media-skin-video-minimal) {
    .media-controls-end {
      flex: 1;
      justify-content: flex-end;
      align-items: center;
      gap: 1px;
      display: flex;
    }

    @container media-root (width >= 42rem) {
      .media-controls-end {
        flex: none;
      }
    }

    .media-controls-remote {
      align-items: center;
      gap: 1px;
      display: none;
    }

    @container media-root (width >= 32rem) {
      .media-controls-remote {
        display: flex;
      }
    }

    .media-controls-root {
      z-index: 20;
      padding: var(--media-controls-padding);
      color: #fff;
      transition-property: filter, opacity, translate;
      transition-duration: calc(var(--controls-transition-duration) / 2);
      --media-popover-boundary-offset: 0.25rem;
      --media-popover-side-offset: 1.25rem;
      --media-tooltip-boundary-offset: var(--media-popover-boundary-offset);
      --media-tooltip-side-offset: var(--media-popover-side-offset);
      inset-inline: 0.25rem;
      border-radius: 0.75rem;
      flex-wrap: wrap;
      align-items: center;
      column-gap: 0.5rem;
      transition-timing-function: ease-out;
      display: flex;
      position: absolute;
      bottom: 0.25rem;
    }

    .media-controls-root:not([data-visible]) {
      pointer-events: none;
      opacity: 0;
      transition-duration: var(--controls-transition-duration);
    }

    .media-controls-root:is(:where(.media-error-dialog)[data-open] ~ *) {
      display: none !important;
    }

    @media (prefers-reduced-motion: no-preference) {
      .media-controls-root:not([data-visible]) {
        translate: 0 100%;
      }
    }

    @container media-root (width >= 42rem) {
      .media-controls-root {
        --media-popover-side-offset: 0.75rem;
        inset-inline: 0.5rem;
        flex-wrap: nowrap;
        bottom: 0.5rem;
      }
    }

    @media (pointer: fine) {
      @media (prefers-reduced-motion: no-preference) {
        .media-controls-root:not([data-visible]) {
          filter: blur(8px);
        }
      }
    }

    .media-controls-start {
      flex: 1;
      align-items: center;
      gap: 1px;
      display: flex;
    }

    @container media-root (width >= 42rem) {
      .media-controls-start {
        flex: none;
      }
    }

    .media-time-controls {
      flex-direction: row-reverse;
      flex-basis: 100%;
      order: -9999;
      align-items: center;
      gap: 0.75rem;
      padding-inline: 0.375rem;
      display: flex;
      container: media-time-controls / inline-size;
    }

    @container media-root (width >= 42rem) {
      .media-time-controls {
        flex-direction: row;
        flex: 1 1 0;
        order: 0;
        min-width: 0;
        transition: mask-position 50ms ease-out;
        mask-position: 100% 0;
        mask-size: 200% 100%;
      }

      @scope (.media-controls-root) {
        &:has([data-volume-level][aria-expanded='true']) .media-time-controls {
          mask-image: linear-gradient(to right, #0000 10%, #000 25% 100%);
          mask-position: 0 0;
        }
      }
    }

    .media-time-current {
      cursor: pointer;
      font-variant-numeric: tabular-nums;
      outline-offset: -2px;
      border-radius: 0.25rem;
      outline: 2px solid #0000;
      display: none;
    }

    .media-time-current:focus-visible {
      outline-offset: 2px;
      outline-color: currentColor;
    }

    @container media-root (width >= 42rem) {
      .media-time-current {
        display: inline;
      }
    }

    .media-time-duration {
      color: currentColor;
    }

    @supports (color: color-mix(in lab, red, red)) {
      .media-time-duration {
        color: color-mix(in oklab, currentcolor 60%, transparent);
      }
    }

    .media-time-duration {
      font-variant-numeric: tabular-nums;
    }

    .media-time-group {
      align-items: center;
      gap: 0.25rem;
      display: flex;
    }

    .media-time-separator {
      color: currentColor;
      display: none;
    }

    @supports (color: color-mix(in lab, red, red)) {
      .media-time-separator {
        color: color-mix(in oklab, currentcolor 60%, transparent);
      }
    }

    @container media-root (width >= 42rem) {
      .media-time-separator {
        display: inline;
      }
    }
  }
}
