@layer videojs.components {
  @scope (.media-skin-video-minimal) {
    .media-error-dialog {
      pointer-events: none;
      z-index: 20;
      color: #fff;
      width: 100%;
      height: 100%;
      transition-property: opacity, scale, transform;
      transition-delay: 0.1s;
      transition-duration: var(--media-error-dialog-transition-duration);
      outline-style: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.75rem;
      padding: 1rem;
      transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
      display: flex;
      position: absolute;
      inset: 0;
    }

    .media-error-dialog:not([data-open]) {
      display: none;
    }

    .media-error-dialog[data-ending-style] {
      opacity: 0;
      transition-delay: 0s;
      scale: 0.5;
    }

    .media-error-dialog[data-starting-style] {
      opacity: 0;
      scale: 0.5;
    }

    @media (prefers-reduced-motion: reduce) {
      .media-error-dialog {
        transition-duration: 50ms;
        transition-delay: 0s;
      }
    }

    .media-error-dialog > * {
      pointer-events: auto;
    }

    .media-error-dialog-close {
      background-color: var(--media-accent-color, var(--media-default-accent-color));
      width: 100%;
      max-width: 16rem;
      height: 2.25rem;
      color: var(--media-accent-text-color, contrast-color(var(--media-accent-color, oklch(0% 0 0))));
      padding-inline: 1rem;
      font-weight: 500;
    }

    .media-error-dialog-description {
      overflow-wrap: anywhere;
      opacity: 0.7;
      width: 100%;
      max-width: 16rem;
      padding-bottom: 0.375rem;
    }

    .media-error-dialog-title {
      width: 100%;
      max-width: 16rem;
      font-size: calc(var(--media-font-size) * 1.15);
      padding-top: 0.375rem;
      font-weight: 600;
    }
  }
}
