@layer videojs.components {
  @scope (.media-skin-video-minimal) {
    .media-popover {
      color: inherit;
      transition-property: opacity, filter, transform, scale;
      transition-duration: var(--popup-transition-duration);
      --popup-translate-distance: 0.5rem;
      border-style: solid;
      border-width: 0;
      margin: 0;
      transition-timing-function: ease-out;
      overflow: visible;
    }

    .media-popover:before {
      pointer-events: auto;
      content: '';
      position: absolute;
    }

    .media-popover[data-ending-style],
    .media-popover[data-starting-style] {
      opacity: 0;
      filter: blur(4px);
      scale: 0.95;
    }

    .media-popover[data-side='bottom'] {
      transform-origin: top;
    }

    .media-popover[data-side='bottom']:before {
      content: '';
      height: var(--media-popover-side-offset);
      inset-inline: 0;
      bottom: 100%;
    }

    .media-popover[data-side='left'] {
      transform-origin: 100%;
    }

    .media-popover[data-side='left']:before {
      content: '';
      width: var(--media-popover-side-offset);
      inset-block: 0;
      left: 100%;
    }

    .media-popover[data-side='right'] {
      transform-origin: 0;
    }

    .media-popover[data-side='right']:before {
      content: '';
      width: var(--media-popover-side-offset);
      inset-block: 0;
      right: 100%;
    }

    .media-popover[data-side='top'] {
      transform-origin: bottom;
    }

    .media-popover[data-side='top']:before {
      content: '';
      height: var(--media-popover-side-offset);
      inset-inline: 0;
      top: 100%;
    }

    .media-surface {
      background-color: var(--media-surface-background);
      color: var(--media-controls-color);
      box-shadow:
        0 0 #0000,
        0 0 #0000,
        0 0 #0000,
        0 0 #0000,
        0 0 0 1px var(--media-surface-border),
        0 2px 8px var(--media-shadow-color);
      backdrop-filter: blur(var(--media-surface-backdrop-blur));
      position: relative;
    }

    .media-surface:after {
      pointer-events: none;
      z-index: 10;
      border-radius: inherit;
      content: '';
      box-shadow:
        0 0 #0000,
        0 0 #0000,
        0 0 #0000,
        0 0 #0000,
        inset 0 1px 0 0 var(--media-surface-border);
      position: absolute;
      inset: 0;
    }

    .media-tooltip {
      border-radius: var(--media-radius-pill);
      white-space: nowrap;
      color: inherit;
      transition-property: opacity, filter, transform, scale;
      transition-duration: var(--popup-transition-duration);
      --popup-translate-distance: 0.5rem;
      border-style: solid;
      border-width: 0;
      margin: 0;
      padding-block: 0.35rem;
      padding-inline: 0.625rem;
      transition-timing-function: ease-out;
      overflow: visible;
    }

    .media-tooltip:before {
      pointer-events: auto;
      content: '';
      position: absolute;
    }

    .media-tooltip[data-ending-style] {
      opacity: 0;
      filter: blur(4px);
      scale: 0.95;
    }

    .media-tooltip[data-open] {
      align-items: center;
      gap: 0.25rem;
      display: flex;
    }

    .media-tooltip[data-starting-style] {
      opacity: 0;
      filter: blur(4px);
      scale: 0.95;
    }

    .media-tooltip[data-side='bottom'] {
      transform-origin: top;
    }

    .media-tooltip[data-side='bottom']:before {
      content: '';
      height: var(--media-tooltip-side-offset);
      inset-inline: 0;
      bottom: 100%;
    }

    .media-tooltip[data-side='left'] {
      transform-origin: 100%;
    }

    .media-tooltip[data-side='left']:before {
      content: '';
      width: var(--media-tooltip-side-offset);
      inset-block: 0;
      left: 100%;
    }

    .media-tooltip[data-side='right'] {
      transform-origin: 0;
    }

    .media-tooltip[data-side='right']:before {
      content: '';
      width: var(--media-tooltip-side-offset);
      inset-block: 0;
      right: 100%;
    }

    .media-tooltip[data-side='top'] {
      transform-origin: bottom;
    }

    .media-tooltip[data-side='top']:before {
      content: '';
      height: var(--media-tooltip-side-offset);
      inset-inline: 0;
      top: 100%;
    }

    .media-tooltip-shortcut {
      background-color: currentColor;
      border-radius: 0.25rem;
      min-width: 1.5rem;
    }

    @supports (color: color-mix(in lab, red, red)) {
      .media-tooltip-shortcut {
        background-color: color-mix(in oklab, currentcolor 30%, transparent);
      }
    }

    .media-tooltip-shortcut {
      text-align: center;
      padding: 0.1em;
      font-size: 0.75em;
      font-weight: 600;
      line-height: 1.25;
    }

    .media-volume-popover {
      border-radius: var(--media-radius-pill);
      color: inherit;
      transition-property: opacity, filter, transform, scale;
      transition-duration: var(--popup-transition-duration);
      --popup-translate-distance: 0.5rem;
      border-style: solid;
      border-width: 0;
      margin: 0;
      padding-block: 0.75rem;
      transition-timing-function: ease-out;
      overflow: visible;
    }

    .media-volume-popover:before {
      pointer-events: auto;
      content: '';
      position: absolute;
    }

    .media-volume-popover:has(:is(media-volume-slider[data-hidden])) {
      display: none;
    }

    .media-volume-popover[data-ending-style],
    .media-volume-popover[data-starting-style] {
      opacity: 0;
      filter: blur(4px);
      scale: 0.95;
    }

    .media-volume-popover[data-side='bottom'] {
      transform-origin: top;
    }

    .media-volume-popover[data-side='bottom']:before {
      content: '';
      height: var(--media-popover-side-offset);
      inset-inline: 0;
      bottom: 100%;
    }

    .media-volume-popover[data-side='left'] {
      transform-origin: 100%;
    }

    .media-volume-popover[data-side='left']:before {
      content: '';
      width: var(--media-popover-side-offset);
      inset-block: 0;
      left: 100%;
    }

    .media-volume-popover[data-side='right'] {
      transform-origin: 0;
      backdrop-filter: ;
      background-color: #0000;
      padding: 0;
      box-shadow:
        0 0 #0000,
        0 0 #0000,
        0 0 #0000,
        0 0 #0000,
        0 0 #0000;
    }

    .media-volume-popover[data-side='right']:before {
      content: '';
      width: var(--media-popover-side-offset);
      inset-block: 0;
      right: 100%;
    }

    .media-volume-popover[data-side='right']:after {
      content: '';
      display: none;
    }

    .media-volume-popover[data-side='top'] {
      transform-origin: bottom;
    }

    .media-volume-popover[data-side='top']:before {
      content: '';
      height: var(--media-popover-side-offset);
      inset-inline: 0;
      top: 100%;
    }
  }
}
