.media-container {
  position: relative;
}

.media-container video {
  width: 100%;
}

.buttons {
  display: flex;
  gap: 8px;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.media-seek-button {
  padding-block: 8px;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  color: black;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 9999px;
  padding-inline: 20px;
  white-space: nowrap;
  cursor: pointer;
}

.media-seek-button .show-when-backward {
  display: none;
}
.media-seek-button .show-when-forward {
  display: none;
}
.media-seek-button[data-direction="backward"] .show-when-backward {
  display: inline;
}
.media-seek-button[data-direction="forward"] .show-when-forward {
  display: inline;
}
