.video-player {
  position: relative;
}

.video-player video {
  width: 100%;
}

.buttons {
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: flex;
  gap: 8px;
}

.media-seek-button {
  padding-block: 8px;
  padding-inline: 20px;
  color: black;
  white-space: nowrap;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 9999px;
  backdrop-filter: blur(10px);
}

.media-seek-button .backward {
  display: none;
}
.media-seek-button .forward {
  display: none;
}
.media-seek-button[data-direction="backward"] .backward {
  display: inline;
}
.media-seek-button[data-direction="forward"] .forward {
  display: inline;
}
