.html-seek-button-basic {
  position: relative;
}

.html-seek-button-basic video {
  width: 100%;
}

.html-seek-button-basic__buttons {
  display: flex;
  gap: 8px;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.html-seek-button-basic__button {
  padding-block: 8px;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  color: black;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 9999px;
  padding-inline: 20px;
  white-space: nowrap;
  cursor: pointer;
}

.html-seek-button-basic__button .show-when-backward {
  display: none;
}
.html-seek-button-basic__button .show-when-forward {
  display: none;
}
.html-seek-button-basic__button[data-direction="backward"] .show-when-backward {
  display: inline;
}
.html-seek-button-basic__button[data-direction="forward"] .show-when-forward {
  display: inline;
}
