.html-mute-button-basic {
  position: relative;
}

.html-mute-button-basic video {
  width: 100%;
}

.html-mute-button-basic__button {
  padding-block: 8px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  color: black;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 9999px;
  padding-inline: 20px;
  cursor: pointer;
}

.html-mute-button-basic__button .show-when-muted {
  display: none;
}
.html-mute-button-basic__button .show-when-unmuted {
  display: none;
}
.html-mute-button-basic__button[data-muted] .show-when-muted {
  display: inline;
}
.html-mute-button-basic__button:not([data-muted]) .show-when-unmuted {
  display: inline;
}
