.video-player {
  position: relative;
}

.video-player video {
  width: 100%;
}

.media-mute-button {
  padding-block: 8px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  color: black;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 9999px;
  padding-inline: 20px;
  cursor: pointer;
}

.media-mute-button .show-when-muted {
  display: none;
}
.media-mute-button .show-when-unmuted {
  display: none;
}
.media-mute-button[data-muted] .show-when-muted {
  display: inline;
}
.media-mute-button:not([data-muted]) .show-when-unmuted {
  display: inline;
}
