---

import MarkdownCode from './MarkdownCode.astro';

const isDev = import.meta.env.DEV;
---

{
  isDev && (
    <h1 class="text-red">
      don't use h1 in markdown. use frontmatter <MarkdownCode>title</MarkdownCode> instead
    </h1>
  )
}
