---

import H2 from './H2.astro';

const { class: className, ...props } = Astro.props;
---

<H2
  as="h2"
  class:list={["[&+.contents>h3]:mt-8 [&+h3]:mt-8", className]}
  {...props}
>
  <slot />
</H2>
