---

import H2 from './H2.astro';

const { class: className, ...props } = Astro.props;
---

<H2
  as="h2"
  class:list={["mt-18 [&+.contents>h3]:mt-6 [&+h3]:mt-6", className]}
  {...props}
>
  <slot />
</H2>
