---
import type { HTMLTag, Polymorphic } from "astro/types";
import { clsx } from "clsx";
import { twMerge } from "tailwind-merge";

type Props<Tag extends HTMLTag = "table"> = Polymorphic<{ as: Tag }> & {
    maxWidth?: boolean;
    class?: string;
};

const {
    as: Tag = "table",
    maxWidth = true,
    class: className,
    ...props
} = Astro.props;
---

<div class={clsx("my-12", maxWidth && "mx-auto max-w-3xl")}>
    <div class="overflow-x-auto flex -mx-6">
        <div
            class="sticky left-0 z-10 shrink-0 basis-6 bg-linear-to-r from-light-80 dark:from-dark-100 to-transparent pointer-events-none"
            aria-hidden="true"
        >
        </div>
        <Tag class={twMerge("w-full border-collapse", className)} {...props}>
            <slot />
        </Tag>
        <div
            class="sticky right-0 z-10 shrink-0 basis-6 bg-linear-to-l from-light-80 dark:from-dark-100 to-transparent pointer-events-none"
            aria-hidden="true"
        >
        </div>
    </div>
</div>
