.video-player {
  position: relative;
  display: block;
}

.video-player video {
  width: 100%;
}

.media-fullscreen-button {
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding-block: 8px;
  padding-inline: 20px;
  color: black;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 9999px;
  backdrop-filter: blur(10px);
}

.media-fullscreen-button .fullscreen {
  display: none;
}
.media-fullscreen-button .not-fullscreen {
  display: none;
}
.media-fullscreen-button[data-fullscreen] .fullscreen {
  display: inline;
}
.media-fullscreen-button:not([data-fullscreen]) .not-fullscreen {
  display: inline;
}
