@import '../../styles/base.css';
@import '../../styles/themes/default.css';

.media-play-button {
  width: var(--media-control-size);
  height: var(--media-control-size);
  cursor: pointer;
  border-radius: var(--media-radius-pill);
  border-style: solid;
  color: inherit;
  outline-style: solid;
  outline-offset: calc(2px * -1);
  background-color: #0000;
  border-width: 0;
  outline-width: 2px;
  outline-color: #0000;
  flex-shrink: 0;
  place-items: center;
  padding: 0;
  display: grid;
}

@media (hover: hover) {
  .media-play-button:hover {
    background-color: var(--media-control-hover-background);
  }
}

.media-play-button:focus-visible {
  background-color: var(--media-control-hover-background);
  outline-offset: 2px;
  outline-color: currentColor;
}

.media-play-button[aria-disabled='true'] {
  cursor: not-allowed;
  opacity: 0.5;
}

.media-play-button[aria-expanded='true'] {
  background-color: var(--media-control-hover-background);
}

.media-play-button-icon-pause {
  width: var(--media-icon-size);
  height: var(--media-icon-size);
  opacity: 0;
  filter: drop-shadow(0 1px 0 var(--media-shadow-color));
  display: none;
}

.media-play-button-icon-pause:is(:where(.media-play-button)[data-started] *):is(
    :where(.media-play-button):not([data-paused]) *
  ):is(:where(.media-play-button):not([data-ended]) *) {
  opacity: 1;
  display: block;
}

.media-play-button-icon-play {
  width: var(--media-icon-size);
  height: var(--media-icon-size);
  opacity: 0;
  filter: drop-shadow(0 1px 0 var(--media-shadow-color));
  display: none;
}

.media-play-button-icon-play:is(:where(.media-play-button):not([data-ended]) *):is(
    :where(.media-play-button):not([data-started]) *
  ),
.media-play-button-icon-play:is(:where(.media-play-button):not([data-ended]) *):is(
    :where(.media-play-button)[data-paused] *
  ) {
  opacity: 1;
  display: block;
}

.media-play-button-icon-restart {
  width: var(--media-icon-size);
  height: var(--media-icon-size);
  opacity: 0;
  filter: drop-shadow(0 1px 0 var(--media-shadow-color));
  display: none;
}

.media-play-button-icon-restart:is(:where(.media-play-button)[data-ended] *) {
  opacity: 1;
  display: block;
}
