@layer videojs.components {
  @scope (.media-skin-video) {
    .media-button {
      width: var(--media-control-size);
      height: var(--media-control-size);
      cursor: pointer;
      border-radius: var(--media-radius-pill);
      color: inherit;
      outline-offset: -2px;
      background-color: #0000;
      border-style: solid;
      border-width: 0;
      outline: 2px solid #0000;
      flex-shrink: 0;
      place-items: center;
      padding: 0;
      display: grid;
    }

    @media (hover: hover) {
      .media-button:hover {
        background-color: var(--media-control-hover-background);
      }
    }

    .media-button:focus-visible {
      background-color: var(--media-control-hover-background);
      outline-offset: 2px;
      outline-color: currentColor;
    }

    .media-button[aria-disabled='true'] {
      cursor: not-allowed;
      opacity: 0.5;
    }

    .media-button[aria-expanded='true'] {
      background-color: var(--media-control-hover-background);
    }

    .media-button-icon {
      width: var(--media-icon-size);
      height: var(--media-icon-size);
      filter: drop-shadow(0 1px 0 var(--media-shadow-color));
    }

    .media-fullscreen-enter-icon {
      opacity: 0;
      display: none;
    }

    @scope (.media-fullscreen-button) {
      &:not([data-fullscreen]) .media-fullscreen-enter-icon {
        opacity: 1;
        display: block;
      }
    }

    .media-fullscreen-exit-icon {
      opacity: 0;
      display: none;
    }

    @scope (.media-fullscreen-button) {
      &[data-fullscreen] .media-fullscreen-exit-icon {
        opacity: 1;
        display: block;
      }
    }

    .media-pause-icon {
      opacity: 0;
      display: none;
    }

    @scope (.media-play-button) {
      &[data-started]:not([data-paused]):not([data-ended]) .media-pause-icon {
        opacity: 1;
        display: block;
      }
    }

    .media-play-icon {
      opacity: 0;
      display: none;
    }

    @scope (.media-play-button) {
      &:not([data-ended]):not([data-started]) .media-play-icon,
      &:not([data-ended])[data-paused] .media-play-icon {
        opacity: 1;
        display: block;
      }
    }

    .media-restart-icon {
      opacity: 0;
      display: none;
    }

    @scope (.media-play-button) {
      &[data-ended] .media-restart-icon {
        opacity: 1;
        display: block;
      }
    }

    .media-seek-backward-icon {
      scale: -1 1;
    }

    .media-seek-button-label {
      font-variant-numeric: tabular-nums;
    }

    .media-volume-high-icon {
      opacity: 0;
      display: none;
    }

    @scope (.media-mute-button) {
      &:not([data-muted]):not([data-volume-level='low']) .media-volume-high-icon {
        opacity: 1;
        display: block;
      }
    }

    .media-volume-low-icon {
      opacity: 0;
      display: none;
    }

    @scope (.media-mute-button) {
      &:not([data-muted])[data-volume-level='low'] .media-volume-low-icon {
        opacity: 1;
        display: block;
      }
    }

    .media-volume-off-icon {
      opacity: 0;
      display: none;
    }

    @scope (.media-mute-button) {
      &[data-muted] .media-volume-off-icon {
        opacity: 1;
        display: block;
      }
    }
  }
}
