@layer videojs.components {
  @scope (.media-skin-video) {
    .media-button-group {
      align-items: center;
      gap: 1px;
      display: flex;
    }

    .media-controls-primary {
      z-index: 10;
      transform-origin: bottom;
      border-radius: var(--media-radius-pill);
      background-color: var(--media-surface-background);
      padding: var(--media-controls-padding);
      box-shadow:
        0 0 #0000,
        0 0 #0000,
        0 0 #0000,
        0 0 #0000,
        0 0 0 1px var(--media-surface-outer-border),
        0 1px 3px 0 var(--media-shadow-color),
        0 1px 2px -1px var(--media-shadow-color);
      backdrop-filter: blur(var(--media-surface-backdrop-blur)) saturate(var(--media-surface-backdrop-saturate));
      transition-property: filter, opacity, scale, translate;
      transition-duration: var(--media-controls-transition-duration);
      inset-inline: 0.5rem;
      align-items: center;
      transition-timing-function: ease-out;
      display: flex;
      position: absolute;
      bottom: 0.5rem;
    }

    @container media-root (width < 32rem) {
      @scope (.media-controls-root) {
        &:not([data-visible]) .media-controls-primary {
          pointer-events: none;
          opacity: 0;
        }
      }

      @media (prefers-reduced-motion: no-preference) {
        @scope (.media-controls-root) {
          &:not([data-visible]) .media-controls-primary {
            translate: 0 0.25rem;
            scale: 0.95;
          }
        }
      }
    }

    @container media-root (width >= 32rem) {
      .media-controls-primary {
        display: contents;
      }
    }

    .media-controls-root {
      color: #fff;
      transition-property: filter, opacity, scale, translate;
      transition-duration: var(--media-controls-transition-duration);
      --media-popover-boundary-offset: 0.75rem;
      --media-popover-side-offset: calc(0.5rem + var(--media-controls-padding));
      --media-tooltip-boundary-offset: var(--media-popover-boundary-offset);
      --media-tooltip-side-offset: var(--media-popover-side-offset);
      transition-timing-function: ease-out;
      display: contents;
    }

    .media-controls-root:is(:where(.media-error-dialog)[data-open] ~ *) {
      display: none !important;
    }

    @container media-root (width >= 32rem) {
      .media-controls-root {
        z-index: 10;
        border-radius: var(--media-radius-pill);
        background-color: var(--media-surface-background);
        box-shadow:
          0 0 #0000,
          0 0 #0000,
          0 0 #0000,
          0 0 #0000,
          0 0 0 1px var(--media-surface-outer-border),
          0 1px 3px 0 var(--media-shadow-color),
          0 1px 2px -1px var(--media-shadow-color);
        backdrop-filter: blur(var(--media-surface-backdrop-blur)) saturate(var(--media-surface-backdrop-saturate));
        inset-inline: 0.5rem;
        align-items: center;
        display: flex;
        position: absolute;
        bottom: 0.5rem;
      }

      .media-controls-root:not([data-visible]) {
        pointer-events: none;
        opacity: 0;
      }

      @media (prefers-reduced-motion: no-preference) {
        .media-controls-root:not([data-visible]) {
          translate: 0 0.25rem;
          scale: 0.95;
        }
      }
    }

    @container media-root (width >= 42rem) {
      .media-controls-root {
        inset-inline: 0.75rem;
        bottom: 0.75rem;
      }
    }

    @container media-root (width >= 32rem) {
      @media (pointer: fine) {
        @media (prefers-reduced-motion: no-preference) {
          .media-controls-root:not([data-visible]) {
            filter: blur(8px);
          }
        }
      }
    }

    .media-controls-secondary {
      z-index: 10;
      transform-origin: top;
      border-radius: var(--media-radius-pill);
      background-color: var(--media-surface-background);
      padding: var(--media-controls-padding);
      box-shadow:
        0 0 #0000,
        0 0 #0000,
        0 0 #0000,
        0 0 #0000,
        0 0 0 1px var(--media-surface-outer-border),
        0 1px 3px 0 var(--media-shadow-color),
        0 1px 2px -1px var(--media-shadow-color);
      backdrop-filter: blur(var(--media-surface-backdrop-blur)) saturate(var(--media-surface-backdrop-saturate));
      transition-property: filter, opacity, scale, translate;
      transition-duration: var(--media-controls-transition-duration);
      align-items: center;
      transition-timing-function: ease-out;
      display: flex;
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
    }

    @container media-root (width < 32rem) {
      @scope (.media-controls-root) {
        &:not([data-visible]) .media-controls-secondary {
          pointer-events: none;
          opacity: 0;
        }
      }

      @media (prefers-reduced-motion: no-preference) {
        @scope (.media-controls-root) {
          &:not([data-visible]) .media-controls-secondary {
            translate: 0 -0.25rem;
            scale: 0.95;
          }
        }
      }
    }

    @container media-root (width >= 32rem) {
      .media-controls-secondary {
        display: contents;
      }
    }

    .media-time-controls {
      flex: 1;
      align-items: center;
      gap: 0.625rem;
      padding-inline: 0.75rem;
      display: flex;
      container: media-time / inline-size;
    }

    @container media-time (width < 16rem) {
      .media-time-controls > :last-child {
        display: none;
      }
    }

    .media-time-current {
      font-variant-numeric: tabular-nums;
    }

    .media-time-remaining {
      cursor: pointer;
      font-variant-numeric: tabular-nums;
      outline-offset: -2px;
      border-radius: 0.25rem;
      outline: 2px solid #0000;
    }

    .media-time-remaining:focus-visible {
      outline-offset: 2px;
      outline-color: currentColor;
    }
  }
}
