@layer videojs.components {
  @scope (.media-skin-video) {
    .media-container {
      isolation: isolate;
      border-radius: var(--media-radius-surface);
      background-color: #000;
      width: 100%;
      height: 100%;
      display: block;
      position: relative;
      overflow: hidden;
      container: media-container / inline-size;
    }

    .media-container video {
      border-radius: inherit;
      object-fit: var(--media-object-fit, contain);
      object-position: var(--media-object-position, center);
      width: 100%;
      height: 100%;
      display: block;
    }
  }
}
