@layer videojs.components {
  @scope (.media-skin-video) {
    .media-error-dialog {
      z-index: 20;
      background-color: var(--media-surface-background);
      color: #fff;
      width: calc(100% - 1.5rem);
      max-width: 18rem;
      box-shadow:
        0 0 #0000,
        0 0 #0000,
        0 0 #0000,
        0 0 #0000,
        0 0 0 1px var(--media-surface-outer-border),
        0 1px 3px 0 var(--media-shadow-color),
        0 1px 2px -1px var(--media-shadow-color);
      backdrop-filter: blur(var(--media-surface-backdrop-blur)) saturate(var(--media-surface-backdrop-saturate));
      border-radius: 1.75rem;
      outline-style: none;
      flex-direction: column;
      gap: 0.75rem;
      padding: 0.75rem;
      transition:
        opacity 0.35s cubic-bezier(0, 0, 0.2, 1) 0.1s,
        scale 0.35s cubic-bezier(0, 0, 0.2, 1) 0.1s,
        transform 0.35s cubic-bezier(0, 0, 0.2, 1) 0.1s;
      display: flex;
      position: absolute;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
    }

    .media-error-dialog:not([data-open]) {
      display: none;
    }

    .media-error-dialog:after {
      pointer-events: none;
      z-index: 10;
      border-radius: inherit;
      content: '';
      box-shadow:
        0 0 #0000,
        0 0 #0000,
        0 0 #0000,
        0 0 #0000,
        inset 0 1px 0 0 var(--media-surface-inner-border),
        inset 0 0 0 1px oklch(from var(--media-surface-inner-border) l c h/calc(alpha * 0.5));
      position: absolute;
      inset: 0;
    }

    .media-error-dialog[data-ending-style] {
      opacity: 0;
      transition-delay: 0s;
      scale: 0.5;
    }

    .media-error-dialog[data-starting-style] {
      opacity: 0;
      scale: 0.5;
    }

    @media (prefers-reduced-motion: reduce) {
      .media-error-dialog {
        transition-duration: 50ms;
        transition-delay: 0s;
      }
    }

    .media-error-dialog-close {
      background-color: var(--media-accent-color, var(--media-default-accent-color));
      width: 100%;
      height: 2.25rem;
      color: var(--media-accent-text-color, contrast-color(var(--media-accent-color, oklch(0% 0 0))));
      padding-inline: 1rem;
      font-weight: 500;
    }

    .media-error-dialog-description {
      overflow-wrap: anywhere;
      opacity: 0.7;
      padding-inline: 0.5rem;
      padding-bottom: 0.375rem;
    }

    .media-error-dialog-title {
      font-size: var(--media-font-size);
      padding-inline: 0.5rem;
      padding-top: 0.5rem;
      font-weight: 600;
      line-height: 1.25;
    }
  }
}
