@layer videojs.components {
  @scope (.media-skin-video) {
    .media-buffering-indicator {
      pointer-events: none;
      z-index: 10;
      color: #fff;
      place-content: center;
      display: none;
      position: absolute;
      inset: 0;
    }

    .media-buffering-indicator:not([data-visible]) {
      --media-spinner-animation: none;
    }

    .media-buffering-indicator[data-visible] {
      display: grid;
    }

    .media-buffering-spinner-icon {
      width: var(--media-icon-size, calc(1.125 * var(--media-size)));
      height: var(--media-icon-size, calc(1.125 * var(--media-size)));
      filter: drop-shadow(0 1px 0 var(--media-shadow-color));
    }

    .media-input-indicator-overlay {
      pointer-events: none;
      color: #fff;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      place-items: center;
      display: grid;
      position: absolute;
      inset: 0;
    }

    .media-overlay {
      pointer-events: none;
      border-radius: inherit;
      opacity: 0;
      transition-property: opacity, backdrop-filter;
      transition-duration: var(--media-controls-transition-duration);
      background-image: linear-gradient(to top, oklch(0% 0 0 / 0.5), oklch(0% 0 0 / 0.3) 25%, #0000);
      transition-timing-function: ease-out;
      position: absolute;
      inset: 0;
    }

    .media-overlay:is(:where(.media-error-dialog)[data-open] ~ *) {
      opacity: 1;
      backdrop-filter: blur(16px) saturate(1.5);
    }

    .media-overlay:is(:where(.media-buffering-indicator)[data-visible] ~ *) {
      opacity: 1;
      backdrop-filter: blur(4px);
      background-color: oklab(0% none none / 0.35);
    }

    .media-overlay:is(:where(.media-controls-root)[data-visible] ~ *) {
      opacity: 1;
    }

    .media-playback-status-icon {
      width: calc(var(--media-icon-size) * 1.5);
      height: calc(var(--media-icon-size) * 1.5);
      display: none;
    }

    .media-playback-status-indicator {
      border-radius: var(--media-radius-pill);
      text-align: center;
      backdrop-filter: blur(8px);
      background-color: oklab(0% none none / 0.35);
      grid-row-start: 1;
      grid-column-start: 2;
      place-content: center;
      padding: 1rem;
      transition-property: opacity, scale;
      transition-duration: 0.2s;
      transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
      display: grid;
    }

    .media-playback-status-indicator[data-ending-style] {
      opacity: 0;
      transition-duration: 0.1s;
      scale: 0.85;
    }

    .media-playback-status-indicator[data-starting-style] {
      opacity: 0;
      scale: 0.85;
    }

    @media (prefers-reduced-motion: reduce) {
      .media-playback-status-indicator {
        transition-duration: 50ms;
      }
    }

    .media-seek-indicator {
      text-align: center;
      grid-row-start: 1;
      grid-column-start: 2;
      place-content: center;
      gap: 0.25rem;
      padding: 1rem;
      display: grid;
    }

    .media-seek-indicator[data-direction='backward'] {
      grid-column-start: 1;
      justify-self: flex-start;
    }

    .media-seek-indicator[data-direction='forward'] {
      grid-column-start: 3;
      justify-self: flex-end;
    }

    .media-seek-indicator-icon {
      width: calc(var(--media-icon-size) * 1.5);
      height: calc(var(--media-icon-size) * 1.5);
      transition-property: translate, opacity;
      transition-duration: 0.2s;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      display: none;
    }

    @scope (.media-seek-indicator) {
      &[data-direction] .media-seek-indicator-icon {
        display: block;
      }
    }

    @scope (.media-seek-indicator) {
      &[data-ending-style] .media-seek-indicator-icon,
      &[data-starting-style] .media-seek-indicator-icon {
        opacity: 0;
      }
    }

    @scope (.media-seek-indicator) {
      &[data-direction='backward'] .media-seek-indicator-icon {
        scale: -1 1;
      }
    }

    .media-seek-indicator-value {
      font-variant-numeric: tabular-nums;
    }

    .media-status-announcer {
      clip-path: inset(50%);
      white-space: nowrap;
      border-width: 0;
      width: 1px;
      height: 1px;
      margin: -1px;
      padding: 0;
      position: absolute;
      overflow: hidden;
    }

    @scope (.media-status-indicator) {
      &[data-status='captions-off'] .media-status-captions-off-icon,
      &[data-status='captions-on'] .media-status-captions-on-icon,
      &[data-status='fullscreen'] .media-status-fullscreen-enter-icon,
      &[data-status='exit-fullscreen'] .media-status-fullscreen-exit-icon {
        display: block;
      }
    }

    .media-status-indicator {
      pointer-events: none;
      border-radius: var(--media-radius-pill);
      color: var(--media-controls-color);
      box-shadow:
        0 0 #0000,
        0 0 #0000,
        0 0 #0000,
        0 0 #0000,
        0 0 0 1px var(--media-surface-outer-border),
        0 1px 3px 0 var(--media-shadow-color),
        0 1px 2px -1px var(--media-shadow-color);
      backdrop-filter: blur(var(--media-surface-backdrop-blur)) saturate(var(--media-surface-backdrop-saturate));
      background-color: oklab(0% none none / 0.25);
      align-items: center;
      gap: 0.5rem;
      padding-block: 0.25rem;
      padding-inline: 0.625rem;
      font-weight: 500;
      transition-property: opacity, scale, translate;
      transition-duration: 0.1s;
      transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
      display: flex;
      position: absolute;
      top: 0.75rem;
    }

    .media-status-indicator:after {
      pointer-events: none;
      z-index: 10;
      border-radius: inherit;
      content: '';
      box-shadow:
        0 0 #0000,
        0 0 #0000,
        0 0 #0000,
        0 0 #0000,
        inset 0 1px 0 0 var(--media-surface-inner-border),
        inset 0 0 0 1px oklch(from var(--media-surface-inner-border) l c h/calc(alpha * 0.5));
      position: absolute;
      inset: 0;
    }

    .media-status-indicator[data-ending-style] {
      opacity: 0;
      translate: 0 -25%;
      scale: 0.9;
    }

    .media-status-indicator[data-starting-style] {
      opacity: 0;
      scale: 0.9;
    }

    .media-status-indicator-icon {
      flex-shrink: 0;
      display: none;
    }

    .media-status-indicator-value {
      margin-left: auto;
    }

    :where(.media-playback-status-indicator)[data-status='pause'] .media-status-pause-icon,
    :where(.media-status-indicator)[data-status='pip'] .media-status-pip-enter-icon,
    :where(.media-status-indicator)[data-status='exit-pip'] .media-status-pip-exit-icon {
      display: block;
    }

    @scope (.media-playback-status-indicator) {
      &[data-status='play'] .media-status-play-icon {
        display: block;
        translate: 1px;
      }
    }

    @scope (.media-volume-indicator) {
      &[data-level='high'] .media-volume-high-indicator-icon {
        display: block;
      }
    }

    .media-volume-indicator {
      pointer-events: none;
      border-radius: var(--media-radius-pill);
      width: min(80%, 12rem);
      color: var(--media-controls-color);
      box-shadow:
        0 0 #0000,
        0 0 #0000,
        0 0 #0000,
        0 0 #0000,
        0 0 0 1px var(--media-surface-outer-border),
        0 1px 3px 0 var(--media-shadow-color),
        0 1px 2px -1px var(--media-shadow-color);
      backdrop-filter: blur(var(--media-surface-backdrop-blur)) saturate(var(--media-surface-backdrop-saturate));
      background-color: oklab(0% none none / 0.25);
      font-weight: 500;
      transition-property: opacity, scale, translate;
      transition-duration: 0.1s;
      transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
      position: absolute;
      top: 0.75rem;
    }

    .media-volume-indicator:after {
      pointer-events: none;
      z-index: 10;
      border-radius: inherit;
      content: '';
      box-shadow:
        0 0 #0000,
        0 0 #0000,
        0 0 #0000,
        0 0 #0000,
        inset 0 1px 0 0 var(--media-surface-inner-border),
        inset 0 0 0 1px oklch(from var(--media-surface-inner-border) l c h/calc(alpha * 0.5));
      position: absolute;
      inset: 0;
    }

    .media-volume-indicator[data-ending-style] {
      opacity: 0;
      translate: 0 -25%;
      scale: 0.9;
    }

    .media-volume-indicator[data-starting-style] {
      opacity: 0;
      scale: 0.9;
    }

    .media-volume-indicator-fill {
      border-radius: inherit;
      background-image: linear-gradient(
        var(--media-accent-color, var(--media-default-accent-color)),
        var(--media-accent-color, var(--media-default-accent-color))
      );
      background-size: var(--media-volume-fill, 0%) 100%;
      background-position: 0;
      background-repeat: no-repeat;
      justify-content: space-between;
      align-items: center;
      gap: 0.5rem;
      width: 100%;
      padding-block: 0.25rem;
      padding-inline: 0.625rem;
      transition-property: background-size;
      transition-duration: 0.2s;
      transition-timing-function: linear;
      display: flex;
    }

    .media-volume-indicator-icon {
      flex-shrink: 0;
      display: none;
    }

    .media-volume-indicator-value {
      margin-left: auto;
    }

    @scope (.media-volume-indicator) {
      &[data-level='low'] .media-volume-low-indicator-icon,
      &[data-level='off'] .media-volume-off-indicator-icon {
        display: block;
      }
    }
  }
}
