---
import H2Markdown from '../typography/H2Markdown.astro';
import P from '../typography/P.astro';
import SkinPickerSectionClient from './SkinPickerSectionClient.tsx';
---

<SkinPickerSectionClient client:idle>
    <H2Markdown>
      Choose skin
    </H2Markdown>
    <P>Choose how your player looks.</P>
</SkinPickerSectionClient>
