/* ==========================================================================
   Button Groups
   ========================================================================== */

.media-default-skin .media-button-group {
  display: flex;
  gap: 0.075rem;
  align-items: center;

  @container media-root (width > 42rem) {
    gap: 0.125rem;
  }
}
