/* ==========================================================================
   Controls
   ========================================================================== */

.media-default-skin .media-controls {
  display: flex;
  column-gap: 0.075rem;
  align-items: center;
  padding: 0.375rem;
  container: media-controls / inline-size;
  text-shadow: 0 1px 0 var(--media-current-shadow-color);
  border-radius: 1.5rem;
}
