@layer videojs.base {
  @scope (.media-skin) {
    :scope,
    *,
    ::before,
    ::after {
      box-sizing: border-box;
    }

    button {
      font: inherit;
      color: inherit;
      letter-spacing: inherit;
    }

    svg {
      display: block;
    }

    [hidden] {
      /* Hidden must override component display styles. */
      display: none !important;
    }
  }
}
