---
import FrameworkToggle from '../FrameworkControl';
import BaseDemo from './Base';
import EjectDemo from './Eject';
---

    <section class='grid gap-y-20 lg:gap-y-0 gap-x-5 lg:grid-cols-2 mb-10 lg:mb-0 w-full max-w-305 mx-auto px-5'>
      <section class="grid lg:grid-rows-subgrid row-span-4 lg:border-t lg:py-10 border-y-faded-black dark:border-y-light-manila">
          <h2 class="text-h2 dark:text-light-manila text-faded-black text-center font-display-extended uppercase font-bold mb-2.5 lg:mb-1.25">
          Assemble your player
        </h2>
        <p class="text-p2 mb-8 md:mb-10 dark:text-dark-manila text-warm-gray text-center font-instrument-sans font-light">
          Feel at home with your framework, skin, and media source
        </p>

            <FrameworkToggle className="mb-5 md:hidden" client:idle />
        <BaseDemo client:idle className="lg:h-100 m-0" />
      </section>
      <section class="grid lg:grid-rows-subgrid row-span-4 lg:border-t lg:py-10 border-y-faded-black dark:border-y-light-manila">
        <h2 class="text-h2 dark:text-light-manila text-faded-black text-center font-display-extended uppercase font-bold mb-2.5 lg:mb-1.25">
          Take full control
        </h2>
        <p class="text-p2 mb-8 md:mb-10 dark:text-dark-manila text-warm-gray text-center font-instrument-sans font-light">
          Make your player truly your own with fully-editable components
        </p>
            <FrameworkToggle className="mb-5 md:hidden" client:idle />
        <EjectDemo client:idle className="lg:h-100 m-0" />
      </section>
    </section>
