@import "./_generated/components/videojs/styles/tailwind.css";

@source "../app";
@source "../templates";
@source "./_generated/html";

:root {
  color-scheme: light dark;
}

@theme {
  --font-sans: InterVariable, Inter, ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  video-player,
  live-video-player,
  audio-player,
  live-audio-player,
  media-i18n {
    display: contents;
  }
}
