.media-minimal-skin * {
  box-sizing: border-box;
}

.media-minimal-skin {
  position: relative;
  isolation: isolate;
  container: media-root / inline-size;
  overflow: clip;
  border-radius: var(--media-border-radius, 0.75rem);
  background: oklab(0 0 0);
  font-family: ui-sans-serif, system-ui, sans-serif;
  font-size: 0.8125rem;
  line-height: 1.5;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}
.media-minimal-skin::after {
  content: "";
  position: absolute;
  pointer-events: none;
  border-radius: inherit;
  z-index: 10;
  inset: 0;
  box-shadow: inset 0 0 0 1px oklab(0 0 0 / 0.15);
}
@media (prefers-color-scheme: dark) {
  .media-minimal-skin::after {
    box-shadow: inset 0 0 0 1px oklab(1 0 0 / 0.15);
  }
}

/* Buffering indicator */
.media-minimal-skin .media-buffering-indicator {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  z-index: 10;
  color: #fff;
}

/* Poster image */
.media-minimal-skin > img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  transition: opacity 0.25s;
}
.media-minimal-skin > img:not([data-visible]) {
  opacity: 0;
}

/* Fullscreen */
.media-minimal-skin:fullscreen {
  border-radius: 0;
}

.media-minimal-skin > video {
  display: block;
  width: 100%;
  height: 100%;
}

/* Media Container UI Overlay Styling */
.media-minimal-skin .media-overlay {
  position: absolute;
  inset: 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: start;
  pointer-events: none;
  border-radius: inherit;
  background-image: linear-gradient(to top, oklab(0 0 0 / 0.7), oklab(0 0 0 / 0.5) 7.5rem, rgba(0, 0, 0, 0));
  transition-property: opacity;
  transition-duration: 75ms;
  transition-delay: 0ms;
  transition-timing-function: ease-out;
}
.media-minimal-skin .media-controls:not([data-visible]) ~ .media-overlay {
  transition-delay: 500ms;
  transition-duration: 500ms;
  opacity: 0;
}
@media (prefers-reduced-motion: reduce) {
  .media-minimal-skin .media-controls:not([data-visible]) ~ .media-overlay {
    transition-duration: 100ms;
  }
}

/* Media Control Bar UI/Styles */
.media-minimal-skin .media-controls {
  position: absolute;
  container: media-controls / inline-size;
  bottom: 0;
  inset-inline: 0;
  padding: 2rem 0.375rem 0.375rem 0.375rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  will-change: transform, filter, opacity;
  transition-property: transform, filter, opacity;
  transition-delay: 0ms;
  transition-duration: 75ms;
  transition-timing-function: ease-out;
  color: oklab(1 0 0);
  z-index: 10;
}
.media-minimal-skin .media-controls:not([data-visible]) {
  opacity: 0;
  transform: translateY(100%);
  filter: blur(8px);
  transition-delay: 500ms;
  transition-duration: 500ms;
  pointer-events: none;
}
@media (prefers-reduced-motion: reduce) {
  .media-minimal-skin .media-controls:not([data-visible]) {
    transition-duration: 100ms;
    transform: translateY(0);
    filter: blur(0);
    scale: 1;
  }
}
@container media-root (width > 640px) {
  .media-minimal-skin .media-controls {
    padding: 2.5rem 0.75rem 0.75rem 0.75rem;
    gap: 0.875rem;
  }
}

/* Time Controls */
.media-minimal-skin .media-time-controls {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  flex: 1;
  gap: 0.75rem;
}
.media-minimal-skin .media-time {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
.media-minimal-skin .media-time__value--current,
.media-minimal-skin .media-time__separator {
  display: none;
}
.media-minimal-skin .media-time__value {
  text-shadow: 0 1px 0 oklab(0 0 0 / 0.2);
  font-variant-numeric: tabular-nums;
}
@container media-controls (width > 480px) {
  .media-minimal-skin .media-time-controls {
    flex-direction: row;
  }
  .media-minimal-skin .media-time__value--duration,
  .media-minimal-skin .media-time__separator {
    color: oklab(1 0 0 / 0.5);
  }
  .media-minimal-skin .media-time__value--current,
  .media-minimal-skin .media-time__separator {
    display: inline;
  }
}

/* Button Groups (layout only) */
.media-minimal-skin .media-button-group {
  display: flex;
  align-items: center;
  gap: 0.075rem;
}
@container media-root (width > 640px) {
  .media-minimal-skin .media-button-group {
    gap: 0.125rem;
  }
}

/* Buttons */
.media-minimal-skin .media-button {
  display: grid;
  flex-shrink: 0;
  padding: 0.625rem;
  cursor: pointer;
  background: transparent;
  border: none;
  border-radius: 0.375rem;
  color: oklab(1 0 0);
  user-select: none;
  outline: 2px solid transparent;
  outline-offset: -2px;
  transition-property: background-color, color, outline-offset;
  transition-duration: 150ms;
  transition-timing-function: ease-out;
}
.media-minimal-skin .media-button:hover,
.media-minimal-skin .media-button:focus-visible,
.media-minimal-skin .media-button[aria-expanded="true"] {
  color: oklab(1 0 0 / 0.8);
  text-decoration: none;
}
.media-minimal-skin .media-button:focus-visible {
  outline-color: oklab(1 0 0);
  outline-offset: 2px;
}
.media-minimal-skin .media-button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
  filter: grayscale(1);
}
@container media-controls (width < 480px) {
  .media-minimal-skin .media-button--seek {
    display: none;
  }
}

/* Icons */
.media-minimal-skin .media-icon__container {
  position: relative;
}
.media-minimal-skin .media-icon {
  grid-area: 1 / 1;
  width: 18px;
  height: 18px;
  filter: drop-shadow(0 1px 0 oklab(0 0 0 / 0.25));
  transition-behavior: allow-discrete;
  transition-property: display, opacity;
  transition-duration: 150ms;
  transition-timing-function: ease-out;
}
.media-minimal-skin .media-icon--hidden {
  display: none;
  opacity: 0;
}
.media-minimal-skin .media-icon--flipped {
  scale: -1 1;
}
.media-minimal-skin .media-icon--seek ~ .media-icon__label {
  position: absolute;
  right: 0;
  bottom: -3px;
  font-size: 0.75em;
  font-weight: 480;
}
.media-minimal-skin .media-icon--seek.media-icon--flipped ~ .media-icon__label {
  left: 0;
  right: unset;
}

/* TimeSlider Component Styles */
.media-minimal-skin .media-slider {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: calc(infinity * 1px);
  outline: none;
}

/* Horizontal orientation styles */
.media-minimal-skin .media-slider[data-orientation="horizontal"] {
  min-width: 5rem;
  width: 100%;
  height: 1.25rem;
}

/* Vertical orientation styles */
.media-minimal-skin .media-slider[data-orientation="vertical"] {
  height: 4.5rem;
  width: 1.25rem;
}

.media-minimal-skin .media-slider__track {
  position: relative;
  isolation: isolate;
  background-color: oklab(1 0 0 / 0.2);
  border-radius: inherit;
  overflow: hidden;
  user-select: none;
  outline: 2px solid transparent;
  outline-offset: -2px;
  transition: outline-offset 150ms ease-out;
  box-shadow: 0 0 0 1px oklab(0 0 0 / 0.05);
}

/* Horizontal track styles */
.media-minimal-skin .media-slider__track[data-orientation="horizontal"] {
  width: 100%;
  height: 0.1875rem;
}

/* Vertical track styles */
.media-minimal-skin .media-slider__track[data-orientation="vertical"] {
  width: 0.1875rem;
  height: 100%;
}

.media-minimal-skin .media-slider:focus-visible .media-slider__track {
  outline-color: oklab(1 0 0);
  outline-offset: 6px;
}

.media-minimal-skin .media-slider__thumb {
  width: 0.75rem;
  height: 0.75rem;
  background-color: oklab(1 0 0);
  border-radius: calc(infinity * 1px);
  user-select: none;
  z-index: 10;
  box-shadow:
    0 0 0 1px oklab(0 0 0 / 0.1),
    0 1px 3px 0 oklab(0 0 0 / 0.15),
    0 1px 2px -1px oklab(0 0 0 / 0.15);
  opacity: 0;
  scale: 0.7;
  transform-origin: center;
  transition-property: opacity, scale;
  transition-duration: 150ms;
  transition-timing-function: ease-out;
}
.media-minimal-skin .media-slider:hover .media-slider__thumb,
.media-minimal-skin .media-slider:focus-within .media-slider__thumb {
  opacity: 1;
  scale: 1;
}
.media-minimal-skin .media-slider__track[data-orientation="horizontal"] .media-slider__thumb {
  cursor: ew-resize;
}
.media-minimal-skin .media-slider__track[data-orientation="vertical"] .media-slider__thumb {
  cursor: ns-resize;
}

.media-minimal-skin .media-slider__pointer {
  display: none;
}

.media-minimal-skin .media-slider__progress {
  background-color: oklab(1 0 0);
  border-radius: inherit;
}

.media-minimal-skin .media-slider__time-display {
  font-variant-numeric: tabular-nums;
}

.media-minimal-skin .media-popup-animation {
  transition-property: transform, scale, opacity, filter;
  transition-duration: 200ms;
  transform: scale(1);
  transform-origin: bottom;
  opacity: 1;
  filter: blur(0px);
}
.media-minimal-skin .media-popup-animation[data-starting-style],
.media-minimal-skin .media-popup-animation[data-ending-style] {
  transform: scale(0);
  opacity: 0;
  filter: blur(8px);
}
.media-minimal-skin .media-popup-animation[data-instant] {
  transition-duration: 0ms;
}

.media-minimal-skin .media-popover-popup {
  padding: 0.5rem;
  margin: 0;
  border: 0;
  background: transparent;
}

/* Tooltip Component Styles */
.media-minimal-skin .media-tooltip-popup {
  color: oklab(1 0 0);
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  font-size: 0.75rem;
  background-color: oklab(1 0 0 / 0.1);
  backdrop-filter: blur(64px) brightness(0.9) saturate(1.5);
  box-shadow:
    0 4px 6px -1px oklab(0 0 0 / 0.1),
    0 2px 4px -2px oklab(0 0 0 / 0.1);
}
@media (prefers-reduced-transparency: reduce) {
  .media-minimal-skin .media-tooltip-popup {
    background-color: oklab(0 0 0 / 0.7);
  }
}
@media (prefers-contrast: more) {
  .media-minimal-skin .media-tooltip-popup {
    background-color: oklab(0 0 0 / 0.9);
  }
}

.media-minimal-skin .media-tooltip {
  white-space: nowrap;
}
