.media-default-skin {
  position: relative;
  isolation: isolate;
  container: media-root / inline-size;
  overflow: clip;
  border-radius: var(--media-border-radius, 2rem);
  background: oklab(0 0 0);
  font-family: ui-sans-serif, system-ui, sans-serif;
  font-size: 0.8125rem;
  line-height: 1.5;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}
.media-default-skin * {
  box-sizing: border-box;
}
.media-default-skin::before,
.media-default-skin::after {
  content: "";
  position: absolute;
  pointer-events: none;
  border-radius: inherit;
  z-index: 10;
}
.media-default-skin::before {
  inset: 1px;
  box-shadow: inset 0 0 0 1px oklab(1 0 0 / 0.15);
}
.media-default-skin::after {
  inset: 0;
  box-shadow: inset 0 0 0 1px oklab(0 0 0 / 0.1);
}

/* Buffering indicator */
.media-default-skin .media-buffering-indicator {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  z-index: 10;
  color: #fff;
}
.media-default-skin .media-buffering-indicator .media-surface {
  padding: 0.25rem;
  border-radius: 100%;
}

/* Poster image */
.media-default-skin > img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  transition: opacity 0.25s;
}
.media-default-skin > img:not([data-visible]) {
  opacity: 0;
}

/* Fullscreen */
.media-default-skin:fullscreen {
  border-radius: 0;
}

.media-default-skin > video {
  display: block;
  width: 100%;
  height: 100%;
}

/* Media Container UI Overlay Styling */
.media-default-skin .media-overlay {
  position: absolute;
  inset: 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: start;
  pointer-events: none;
  border-radius: inherit;
  background-image: linear-gradient(to top, oklab(0 0 0 / 0.5), oklab(0 0 0 / 0.3), rgba(0, 0, 0, 0));
  backdrop-filter: saturate(1.5) brightness(0.9);
  transition: opacity 0.15s ease-out;
  transition-duration: 100ms;
  transition-delay: 0ms;
}
.media-default-skin .media-controls:not([data-visible]) ~ .media-overlay {
  transition-delay: 500ms;
  transition-duration: 300ms;
  opacity: 0;
}
@media (prefers-reduced-motion: reduce) {
  .media-default-skin .media-controls:not([data-visible]) ~ .media-overlay {
    transition-duration: 100ms;
  }
}

/* Common Surface Styles - e.g. tooltips, popovers, controls */
.media-default-skin .media-surface {
  background-color: oklab(1 0 0 / 0.1);
  backdrop-filter: blur(64px) brightness(0.9) saturate(1.5);
  box-shadow:
    inset 0 0 0 1px oklab(1 0 0 / 0.05),
    0 0 0 1px oklab(0 0 0 / 0.15),
    oklab(0 0 0 / 0.15) 0px 1px 3px 0px,
    oklab(0 0 0 / 0.15) 0px 1px 2px -1px;
}
@media (prefers-reduced-transparency: reduce) {
  .media-default-skin .media-surface {
    background-color: oklab(0 0 0 / 0.7);
    box-shadow:
      inset 0 0 0 1px oklab(0 0 0),
      0 0 0 1px oklab(1 0 0 / 0.2);
  }
}
@media (prefers-contrast: more) {
  .media-default-skin .media-surface {
    background-color: oklab(0 0 0 / 0.9);
    box-shadow:
      inset 0 0 0 1px oklab(0 0 0),
      0 0 0 1px oklab(1 0 0 / 0.2);
  }
}

/* Media Control Bar UI/Styles */
.media-default-skin .media-controls {
  position: absolute;
  container: media-controls / inline-size;
  bottom: 0.75rem;
  inset-inline: 0.75rem;
  padding: 0.175rem;
  display: flex;
  align-items: center;
  gap: 0.075rem;
  color: oklab(1 0 0);
  border-radius: calc(infinity * 1px);
  will-change: scale, transform, filter, opacity;
  transition-property: scale, transform, filter, opacity;
  transition-timing-function: ease-out;
  transition-delay: 0ms;
  transition-duration: 100ms;
  transform-origin: bottom;
  z-index: 10;
}
.media-default-skin .media-controls:not([data-visible]) {
  pointer-events: none;
  filter: blur(8px);
  scale: 0.9;
  opacity: 0;
  transition-delay: 500ms;
  transition-duration: 300ms;
}
@media (prefers-reduced-motion: reduce) {
  .media-default-skin .media-controls:not([data-visible]) {
    /* FIXME: Make this a custom property that we can share */
    transition-duration: 100ms;
    filter: blur(0);
    scale: 1;
  }
}
@container media-root (width > 42rem) {
  .media-default-skin .media-controls {
    padding: 0.25rem;
    gap: 0.125rem;
  }
}

/* Time Display */
.media-default-skin .media-time {
  container: media-time / inline-size;
  display: flex;
  align-items: center;
  flex: 1;
  gap: 0.75rem;
  padding-inline: 0.5rem;
}
.media-default-skin .media-time__value {
  text-shadow: 0 1px 0 oklab(0 0 0 / 0.25);
  font-variant-numeric: tabular-nums;
}
.media-default-skin .media-time .media-time__value:first-child {
  display: none;
}
@container media-time (width > 18rem) {
  .media-default-skin .media-time .media-time__value:first-child {
    display: block;
  }
}

/* Buttons */
.media-default-skin .media-button {
  display: grid;
  flex-shrink: 0;
  padding: 0.5rem;
  cursor: pointer;
  background: transparent;
  border: none;
  border-radius: calc(infinity * 1px);
  color: oklab(1 0 0 / 0.9);
  user-select: none;
  outline: 2px solid transparent;
  outline-offset: -2px;
  transition-property: background-color, color, outline-offset;
  transition-duration: 150ms;
  transition-timing-function: ease-out;
  text-shadow: 0 1px 0 oklab(0 0 0 / 0.25);
}
.media-default-skin .media-button:hover,
.media-default-skin .media-button:focus-visible,
.media-default-skin .media-button[aria-expanded="true"] {
  background-color: oklab(1 0 0 / 0.1);
  color: oklab(1 0 0);
  text-decoration: none;
}
.media-default-skin .media-button:focus-visible {
  outline-color: oklch(62.3% 0.214 259.815);
  outline-offset: 2px;
}
.media-default-skin .media-button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
  filter: grayscale(1);
}
@container media-controls (width < 28rem) {
  .media-default-skin .media-button--seek {
    display: none;
  }
}

/* Icons */
.media-default-skin .media-icon__container {
  position: relative;
}
.media-default-skin .media-icon {
  grid-area: 1 / 1;
  width: 18px;
  height: 18px;
  filter: drop-shadow(0 1px 0 oklab(0 0 0 / 0.25));
  transition-behavior: allow-discrete;
  transition-property: display, opacity;
  transition-duration: 150ms;
  transition-timing-function: ease-out;
}
.media-default-skin .media-icon--hidden {
  display: none;
  opacity: 0;
}
.media-default-skin .media-icon--flipped {
  scale: -1 1;
}
.media-default-skin .media-icon--seek ~ .media-icon__label {
  position: absolute;
  right: 0;
  bottom: -3px;
  font-size: 0.75em;
  font-weight: 480;
}
.media-default-skin .media-icon--seek.media-icon--flipped ~ .media-icon__label {
  left: 0;
  right: unset;
}

/* TimeSlider Component Styles */
.media-default-skin .media-slider {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: calc(infinity * 1px);
  outline: none;
}

/* Horizontal orientation styles */
.media-default-skin .media-slider[data-orientation="horizontal"] {
  min-width: 5rem;
  width: 100%;
  height: 1.25rem;
}

/* Vertical orientation styles */
.media-default-skin .media-slider[data-orientation="vertical"] {
  height: 5rem;
  width: 1.25rem;
}

.media-default-skin .media-slider__track {
  position: relative;
  isolation: isolate;
  background-color: oklab(1 0 0 / 0.2);
  border-radius: inherit;
  overflow: hidden;
  user-select: none;
  outline: 2px solid transparent;
  outline-offset: -2px;
  transition: outline-offset 150ms ease-out;
  box-shadow: 0 0 0 1px oklab(0 0 0 / 0.05);
}

/* Horizontal track styles */
.media-default-skin .media-slider__track[data-orientation="horizontal"] {
  width: 100%;
  height: 0.25rem;
}

/* Vertical track styles */
.media-default-skin .media-slider__track[data-orientation="vertical"] {
  width: 0.25rem;
  height: 100%;
}

.media-default-skin .media-slider:focus-visible .media-slider__track {
  outline-color: oklch(62.3% 0.214 259.815);
  outline-offset: 6px;
}

.media-default-skin .media-slider__thumb {
  width: 0.625rem;
  height: 0.625rem;
  background-color: oklab(1 0 0);
  border-radius: calc(infinity * 1px);
  user-select: none;
  z-index: 10;
  box-shadow:
    0 0 0 1px oklab(0 0 0 / 0.1),
    0 1px 3px 0 oklab(0 0 0 / 0.15),
    0 1px 2px -1px oklab(0 0 0 / 0.15);
  opacity: 0;
  transition-property: opacity, height, width;
  transition-duration: 150ms;
  transition-timing-function: ease-out;
}
.media-default-skin .media-slider__thumb:active {
  width: 0.75rem;
  height: 0.75rem;
}
.media-default-skin .media-slider:hover .media-slider__thumb,
.media-default-skin .media-slider:focus-within .media-slider__thumb {
  opacity: 1;
}
.media-default-skin .media-slider__track[data-orientation="horizontal"] .media-slider__thumb {
  cursor: ew-resize;
}
.media-default-skin .media-slider__track[data-orientation="vertical"] .media-slider__thumb {
  cursor: ns-resize;
}

.media-default-skin .media-slider__pointer {
  background-color: oklab(1 0 0 / 0.2);
  border-radius: inherit;
}

.media-default-skin .media-slider__progress {
  background-color: oklab(1 0 0);
  border-radius: inherit;
}

.media-default-skin .media-slider__time-display {
  font-variant-numeric: tabular-nums;
}

.media-default-skin .media-popup-animation {
  transition-property: transform, scale, opacity, filter;
  transition-duration: 200ms;
  transform: scale(1);
  transform-origin: bottom;
  opacity: 1;
  filter: blur(0px);
}
.media-default-skin .media-popup-animation[data-starting-style],
.media-default-skin .media-popup-animation[data-ending-style] {
  transform: scale(0);
  opacity: 0;
  filter: blur(8px);
}
.media-default-skin .media-popup-animation[data-instant] {
  transition-duration: 0ms;
}

.media-default-skin .media-popover-popup {
  padding: 0.75rem 0.25rem;
  border-radius: calc(infinity * 1px);
  margin: 0;
  border: 0;
}

/* Tooltip Component Styles */
.media-default-skin .media-tooltip {
  white-space: nowrap;
}
.media-default-skin .media-tooltip-popup {
  color: oklab(1 0 0);
  padding: 0.25rem 0.625rem;
  border-radius: calc(infinity * 1px);
  font-size: 0.75rem;
}

/* Captions */
.media-default-skin .media-captions {
  position: absolute;
  inset: auto 1rem 1.5rem 1rem;
  z-index: 20;
  transition: transform 150ms ease-out;
  /* The delay must account for the controls delay/duration */
  transition-delay: 600ms;
  pointer-events: none;
  text-wrap: balance;
  font-size: 1rem;
}
@media (prefers-reduced-motion: reduce) {
  .media-default-skin .media-captions {
    transition-duration: 50ms;
  }
}
.media-default-skin .media-captions__container {
  max-width: 42ch;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.media-default-skin .media-captions__text {
  display: block;
  padding: 0.125rem 0.5rem;
  text-shadow:
    0 0 1px oklab(0 0 0 / 0.7),
    0 0 8px oklab(0 0 0 / 0.7);
  color: #fff;
  text-align: center;
  white-space: pre-wrap;
  line-height: 1.2;
}
@media (prefers-contrast: more) {
  .media-default-skin .media-captions__text {
    text-shadow: none;
    box-decoration-break: clone;
    background: oklab(0 0 0 / 0.7);
  }
}
.media-default-skin .media-captions__text > * {
  display: inline;
}
@container media-root (width > 20rem) {
  .media-default-skin .media-captions {
    font-size: 1.5rem;
  }
}
@container media-root (width > 48rem) {
  .media-default-skin .media-captions {
    font-size: 2rem;
  }
}
@container media-root (width > 80rem) {
  .media-default-skin .media-captions {
    font-size: 2.5rem;
  }
}
.media-default-skin .media-controls[data-visible] ~ .media-captions {
  transform: translateY(-3rem);
  transition-delay: 25ms;
}
