/* ==========================================================================
   Media Element
   ========================================================================== */

.media-default-skin ::slotted(video),
.media-default-skin video {
  display: block;
  width: 100%;
  height: 100%;
}
.media-default-skin ::slotted(video) {
  border-radius: var(--media-border-radius, 2rem);
}
.media-default-skin video {
  border-radius: inherit;
}

/* ==========================================================================
   Poster Image
   ========================================================================== */

.media-default-skin > img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  object-fit: cover;
  transition: opacity 0.25s;
  pointer-events: none;

  &:not([data-visible]) {
    opacity: 0;
  }
}

/* ==========================================================================
   Fullscreen
   ========================================================================== */

.media-default-skin:fullscreen video,
.media-default-skin:fullscreen ::slotted(video),
.media-default-skin:fullscreen > img {
  object-fit: contain;
}
.media-default-skin:fullscreen ::slotted(video) {
  border-radius: 0;
}
