/* ==========================================================================
   Menus
   Note: Menus use `.media-popover` styles for positioning and transitions.
   ========================================================================== */

.media-default-skin .media-popover.media-menu {
  box-sizing: border-box;
  min-width: min(6rem, var(--media-popover-available-width, 6rem));
  max-width: var(--media-popover-available-width, none);
  max-height: var(--media-popover-available-height, none);
  padding: 0.375rem;
  overflow: auto;
  overscroll-behavior: none;
  border-radius: 1.25rem;

  &::before {
    display: none;
  }
}

.media-default-skin .media-popover.media-menu .media-menu__group {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.125rem;

  &::before {
    position: absolute;
    position-anchor: --media-menu-item-highlight-anchor;
    inset: anchor(inside);
    pointer-events: none;
    content: "";
    background-color: oklch(from currentColor l c h / 0.1);
    border-radius: calc(infinity * 1px);
    transition: inset ease-in-out 100ms;
  }

  @supports not (top: anchor(top)) {
    &::before {
      display: none;
    }
  }
}

.media-default-skin .media-popover.media-menu .media-menu__item {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-between;
  min-height: 2rem;
  padding: 0 0.75rem;
  font-variant-numeric: tabular-nums;
  color: inherit;
  cursor: pointer;
  outline: 2px solid transparent;
  outline-offset: -2px;
  border-radius: calc(infinity * 1px);

  &:hover,
  &[data-highlighted] {
    anchor-name: --media-menu-item-highlight-anchor;
  }

  @supports not (top: anchor(top)) {
    &:hover,
    &[data-highlighted] {
      background-color: oklch(from currentColor l c h / 0.1);
    }
  }

  &:focus-visible {
    outline-color: currentColor;
    outline-offset: 2px;
  }

  &[aria-checked="true"] .media-menu__indicator {
    opacity: 1;
  }

  &[aria-disabled="true"] {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.media-default-skin .media-popover.media-menu .media-menu__indicator {
  flex-shrink: 0;
  margin-right: -0.25rem;
  opacity: 0;
}

.media-default-skin .media-popover.media-menu .media-menu__indicator .media-icon {
  filter: drop-shadow(0 1px 0 var(--media-current-shadow-color));
}
