/* ==========================================================================
   Root Container
   ========================================================================== */

.media-default-skin {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  container: media-root / inline-size;
  font-family:
    Inter Variable,
    Inter,
    ui-sans-serif,
    system-ui,
    sans-serif;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  line-height: 1.5;
  letter-spacing: normal;
  outline: 2px solid transparent;
  outline-offset: 2px;
  border-radius: var(--media-border-radius, 2rem);
  isolation: isolate;

  &:focus-visible {
    outline-color: currentColor;
  }

  & > * {
    font-size: 0.75rem; /* 12px at 100% font size */
  }

  @container media-root (width > 48rem) {
    & > * {
      font-size: 0.875rem; /* 14px at 100% font size */
    }
  }
}
