.media-default-skin .media-slider {
  position: relative;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  border-radius: calc(infinity * 1px);

  &[data-orientation="horizontal"] {
    width: var(--slider-width, 100%);
    min-width: calc(var(--spacing) * 20);
    height: var(--slider-height, calc(var(--spacing) * 8));
  }
  &[data-orientation="vertical"] {
    width: var(--slider-width, calc(var(--spacing) * 8));
    height: var(--slider-height, calc(var(--spacing) * 20));
  }

  /* Track */
  .media-slider__track {
    position: relative;
    overflow: hidden;
    user-select: none;
    background-color: oklch(from currentColor l c h / 0.2);
    border-radius: inherit;
    isolation: isolate;

    &[data-orientation="horizontal"] {
      width: 100%;
      height: calc(var(--spacing) * 1);
    }
    &[data-orientation="vertical"] {
      width: calc(var(--spacing) * 1);
      height: 100%;
    }
  }

  /* Thumb */
  .media-slider__thumb {
    position: absolute;
    z-index: 10;
    width: calc(var(--spacing) * 2.5);
    height: calc(var(--spacing) * 2.5);
    user-select: none;
    outline: 4px solid transparent;
    outline-offset: -4px;
    background-color: currentColor;
    border-radius: calc(Infinity * 1px);
    box-shadow:
      0 0 0 1px var(--shadow-current-color, oklch(0 0 0 / 0.1)),
      0 1px 3px 0 oklch(0 0 0 / 0.35),
      0 1px 2px -1px oklch(0 0 0 / 0.35);
    opacity: 0;
    translate: -50% -50%;
    transition-timing-function: ease-out;
    transition-duration: 150ms;
    transition-property: opacity, height, width, outline-offset;

    &[data-orientation="horizontal"] {
      top: 50%;
      left: var(--media-slider-fill);
    }
    &[data-orientation="vertical"] {
      top: calc(100% - var(--media-slider-fill));
      left: 50%;
    }

    &:hover,
    &:focus {
      outline-color: oklch(from currentColor l c h / 0.15);
      outline-offset: 0;
    }

    &::after {
      position: absolute;
      inset: -4px;
      content: "";
      border-radius: inherit;
      box-shadow: 0 0 0 2px currentColor;
      transition-timing-function: ease-out;
      transition-duration: 150ms;
      transition-property: opacity, scale;
    }

    &:not(:focus-visible)::after {
      opacity: 0;
      scale: 0.5;
    }
  }

  &:active .media-slider__thumb,
  &:focus-within .media-slider__thumb,
  .media-slider__thumb--persistent {
    width: calc(var(--spacing) * 3);
    height: calc(var(--spacing) * 3);
  }

  &:hover .media-slider__thumb,
  .media-slider__thumb:focus-visible,
  .media-slider__thumb--persistent {
    opacity: 1;
  }

  /* Shared track fills */
  .media-slider__buffer,
  .media-slider__fill {
    position: absolute;
    pointer-events: none;
    border-radius: inherit;

    &[data-orientation="horizontal"] {
      inset-block: 0;
      left: 0;
      transition-property: width;
    }
    &[data-orientation="vertical"] {
      inset-inline: 0;
      bottom: 0;
      transition-property: height;
    }
  }

  /* Buffer */
  .media-slider__buffer {
    background-color: oklch(from currentColor l c h / 0.2);

    &[data-orientation="horizontal"] {
      width: var(--media-slider-buffer);
    }
    &[data-orientation="vertical"] {
      height: var(--media-slider-buffer);
    }
  }

  /* Fill */
  .media-slider__fill {
    background-color: var(--accent-color);

    &[data-orientation="horizontal"] {
      width: var(--media-slider-fill);
    }
    &[data-orientation="vertical"] {
      height: var(--media-slider-fill);
    }
  }

  /* Chapters */
  .media-slider__chapters {
    position: relative;
    display: flex;
    flex: 1;
    align-items: center;
    min-width: 0;
    min-height: 0;
    border-radius: inherit;

    &[data-orientation="horizontal"] {
      width: 100%;
      height: 100%;
    }
    &[data-orientation="vertical"] {
      flex-direction: column-reverse;
      width: 100%;
      height: 100%;
    }
  }

  .media-slider__chapter {
    --chapter-gap: calc(var(--spacing) * 1);
    --chapter-inset-start: 0.5;
    --chapter-inset-end: 0.5;
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 0;
    min-height: 0;

    &:first-child {
      --chapter-inset-start: 0;
    }
    &:last-child {
      --chapter-inset-end: 0;
    }

    .media-slider__chapter-track {
      --chapter-track-size: calc(var(--spacing) * 1);
      --chapter-track-highlighted-size: calc(var(--spacing) * 1.75);
      --chapter-track-border-radius: calc(Infinity * 1px);
      border-radius: var(--chapter-track-border-radius);

      @media (prefers-reduced-motion: no-preference) {
        transition: 200ms ease-out;
        transition-property: height, width;
      }
    }

    &[data-orientation="horizontal"] {
      clip-path: inset(0 calc(100% - var(--media-slider-chapter-end)) 0 var(--media-slider-chapter-start));

      .media-slider__chapter-track {
        height: var(--chapter-track-size);
        clip-path: inset(
          0 calc(100% - var(--media-slider-chapter-end) + var(--chapter-gap) * var(--chapter-inset-end)) 0
            calc(var(--media-slider-chapter-start) + var(--chapter-gap) * var(--chapter-inset-start)) round
            var(--chapter-track-border-radius)
        );
      }

      &[data-highlighted] .media-slider__chapter-track {
        height: var(--chapter-track-highlighted-size);
      }
    }

    &[data-orientation="vertical"] {
      clip-path: inset(calc(100% - var(--media-slider-chapter-end)) 0 var(--media-slider-chapter-start) 0);

      .media-slider__chapter-track {
        width: var(--chapter-track-size);
        clip-path: inset(
          calc(100% - var(--media-slider-chapter-end) + var(--chapter-gap) * var(--chapter-inset-end)) 0
            calc(var(--media-slider-chapter-start) + var(--chapter-gap) * var(--chapter-inset-start)) 0 round
            var(--chapter-track-border-radius)
        );
      }

      &[data-highlighted] .media-slider__chapter-track {
        width: var(--chapter-track-highlighted-size);
      }
    }
  }

  /* Dragging — thumb and fill follow the pointer position */
  &[data-dragging] {
    .media-slider__thumb[data-orientation="horizontal"] {
      left: var(--media-slider-pointer);
    }
    .media-slider__thumb[data-orientation="vertical"] {
      top: calc(100% - var(--media-slider-pointer));
    }
    .media-slider__fill[data-orientation="horizontal"] {
      width: var(--media-slider-pointer);
    }
    .media-slider__fill[data-orientation="vertical"] {
      height: var(--media-slider-pointer);
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    .media-slider__thumb {
      transition-property: opacity, height, width, outline-offset, left, top;
    }
    .media-slider__fill {
      transition-timing-function: linear;
      transition-duration: 200ms;
    }
    .media-slider__buffer {
      transition-timing-function: ease-out;
      transition-duration: 250ms;
    }
  }

  &[data-dragging],
  &[data-seeking] {
    .media-slider__thumb,
    .media-slider__fill,
    .media-slider__buffer {
      transition-duration: 0ms;
    }
  }

  /* Preview */
  .media-slider__preview {
    --max-width: min(calc(var(--spacing) * 48), 100cqi);
    --max-height: calc(var(--spacing) * 32);

    min-width: var(--max-width);
    height: calc(var(--spacing) * 1);

    .media-slider__thumbnail,
    .media-slider__value {
      position: absolute;
      left: 50%;
      max-width: var(--max-width);
      opacity: 0;
      filter: blur(8px);
      transform-origin: bottom;
      scale: 0.8;
      translate: -50% calc(var(--spacing) * 2);
      transition-timing-function: ease-out;
      transition-duration: 150ms;
    }

    .media-slider__thumbnail {
      --thumbnail-max-width: var(--max-width);
      bottom: calc(100% + (var(--spacing) * 9));
    }

    .media-slider__value {
      bottom: calc(100% + (var(--spacing) * 10.5));
      display: flex;
      flex-direction: column;
      align-items: center;
      text-shadow: 0 1px 0 var(--shadow-current-color);
    }

    .media-slider__chapter-title {
      min-width: 0;
      max-width: var(--max-width);
      padding-inline: calc(var(--spacing) * 3);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &:empty {
        display: none;
      }
    }

    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 1;
      width: calc(var(--spacing) * 1);
      height: calc(var(--spacing) * 1);
      pointer-events: none;
      content: "";
      background-color: currentColor;
      border-radius: 100%;
      box-shadow:
        0 0 0 1px var(--shadow-current-color, oklch(0 0 0 / 0.15)),
        0 1px 2px 0 oklch(0 0 0 / 0.35);
      opacity: 0;
      scale: 0.5;
      translate: -50% -50%;
      transition-timing-function: ease-out;
      transition-duration: 200ms;
      transition-property: opacity, scale;
    }

    &[data-pointing]:not([data-dragging])::before,
    &[data-pointing] :is(.media-slider__thumbnail, .media-slider__value),
    &[data-interactive]:not([data-pointing]):not([data-dragging]) :is(.media-slider__value, .media-slider__thumbnail) {
      opacity: 1;
      filter: blur(0);
      scale: 1;
    }
  }
}
