.poster-basic {
  display: block;
  position: relative;
}

.poster-basic video {
  width: 100%;
}

.poster-basic__poster {
  position: absolute;
  inset: 0;
  pointer-events: none;
  transition: opacity 0.25s;
}

.poster-basic__poster:not([data-visible]) {
  opacity: 0;
}

.poster-basic__poster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.poster-basic__button {
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding-block: 8px;
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(10px);
  color: black;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 9999px;
  padding-inline: 16px;
  cursor: pointer;
}

.poster-basic__button .show-when-paused,
.poster-basic__button .show-when-playing {
  display: none;
}

.poster-basic__button[data-paused] .show-when-paused {
  display: inline;
}

.poster-basic__button:not([data-paused]) .show-when-playing {
  display: inline;
}
