<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sandbox — HTML Audio</title>
    <link rel="preconnect" href="https://rsms.me/" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" crossorigin />
  </head>
  <body class="font-sans">
    <div id="root" class="flex min-h-screen items-center justify-center p-2"></div>
    <script type="module" src="./main.ts"></script>
  </body>
</html>
