---

import type { Page } from 'astro';
import { ChevronDown } from 'lucide-react';

interface Props {
  page: Page;
}

const { page } = Astro.props;
---

<nav
  aria-label="Blog pagination"
  class="mx-auto mt-10 flex w-full max-w-3xl items-center justify-end gap-4"
>
  <span>
    Page {page.currentPage} of {page.lastPage}
  </span>
  <span class="grid grid-cols-2 gap-1">
    {
      page.url.prev ? (
        /* TODO(old-color): light-40, dark-40 */
        <a
          href={page.url.prev}
          aria-label={`Go to page ${page.currentPage - 1}`}
          class="border-light-40 intent:border-dark-40 grid items-center rounded-xs border p-2"
        >
          <ChevronDown size={12} className="rotate-90" />
        </a>
      ) : (
        /* TODO(old-color): light-40 */
        <button
          disabled
          aria-label="Previous page (unavailable)"
          class="border-light-40 grid items-center rounded-xs border p-2 opacity-40"
        >
          <ChevronDown size={12} className="rotate-90" />
        </button>
      )
    }
    {
      page.url.next ? (
        /* TODO(old-color): light-40, dark-40 */
        <a
          href={page.url.next}
          aria-label={`Go to page ${page.currentPage + 1}`}
          class="border-light-40 intent:border-dark-40 grid items-center rounded-xs border p-2"
        >
          <ChevronDown size={12} className="-rotate-90" />
        </a>
      ) : (
        /* TODO(old-color): light-40 */
        <button
          disabled
          aria-label="Next page (unavailable)"
          class="border-light-40 grid items-center rounded-xs border p-2 opacity-40"
        >
          <ChevronDown size={12} className="-rotate-90" />
        </button>
      )
    }
  </span>
</nav>
