@import "./components/reset.css";
@import "./components/root.css";
@import "./components/surface.css";
@import "./components/buffering.css";
@import "./components/error.css";
@import "./components/controls.css";
@import "./components/time.css";
@import "./components/buttons.css";
@import "./components/icons.css";
@import "./components/slider.css";
@import "./components/popup.css";
@import "../../shared/css/audio/icon-state.css";
@import "../../shared/css/audio/tooltip-state.css";

/* ==========================================================================
   Root
   ========================================================================== */

.media-default-skin--audio {
  --media-border-color: oklch(0 0 0 / 0.1);
  --media-surface-background-color: oklch(1 0 0 / 0.5);
  --media-surface-inner-border-color: oklch(1 0 0 / 0.1);
  --media-surface-outer-border-color: oklch(0 0 0 / 0.05);
  --media-surface-shadow-color: oklch(0 0 0 / 0.15);
  --media-surface-backdrop-filter: blur(16px) saturate(1.5);
  --media-text-color: var(--media-color-primary, oklch(0 0 0));

  @media (prefers-color-scheme: dark) {
    --media-border-color: oklch(1 0 0 / 0.1);
    --media-surface-background-color: oklch(0 0 0 / 0.4);
    --media-text-color: var(--media-color-primary, oklch(1 0 0));
  }
}

/* ==========================================================================
   Error Dialog
   ========================================================================== */

.media-default-skin--audio .media-error__dialog {
  position: absolute;
  inset: 0;
  z-index: 20;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding-inline: 1.25rem 0.125rem;
  transition-property: opacity, filter;
  transition-duration: 300ms;
  transition-delay: 100ms;
  transition-timing-function: ease-out;
  border-radius: calc(infinity * 1px);
  background-color: var(--media-surface-background-color);
  backdrop-filter: var(--media-surface-backdrop-filter);
  color: var(--media-text-color);

  /* Simple, fast transition for reduced motion users */
  @media (prefers-reduced-motion: reduce) {
    transition-duration: 100ms;
    transition-delay: 0ms;
  }
}

.media-default-skin .media-error[data-starting-style] .media-error__dialog,
.media-default-skin .media-error[data-ending-style] .media-error__dialog {
  opacity: 0;
  filter: blur(4px);
}

.media-default-skin--audio .media-error__content {
  flex: 1;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

/* ==========================================================================
  Controls
  ========================================================================== */

.media-default-skin--audio .media-controls {
  color: var(--media-text-color);
}

/* ==========================================================================
   Sliders
   ========================================================================== */

.media-default-skin--audio .media-slider__track {
  background-color: oklch(0 0 0 / 0.1);

  @media (prefers-color-scheme: dark) {
    background-color: oklch(1 0 0 / 0.2);
    box-shadow: 0 0 0 1px oklch(0 0 0 / 0.05);
  }
}
