---

import Footer from '@/components/Footer.astro';
import FooterEasterEgg from '@/components/FooterEasterEgg.astro';
import Built from '@/components/home/Built/BuiltSection.astro';
import Demo from '@/components/home/Demo/Demo';
import GetStartedBanner from '@/components/home/GetStartedBanner.astro';
import Header from '@/components/home/Header.astro';
import RoadMap from '@/components/home/Roadmap.astro';
import Sponsors from '@/components/home/Sponsors.astro';
import NavBar from '@/components/NavBar/NavBar.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '@/consts';
import Base from '@/layouts/Base.astro';
---

<Base title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <NavBar />
  <Header />
  <main>
    <Demo client:idle />
    <GetStartedBanner />
    <Built />
    <RoadMap />
    <Sponsors />
  </main>
  <Footer />
  <FooterEasterEgg />
</Base>
