@import '../../styles/base.css';
@import '../../styles/themes/default.css';

.media-seek-button {
  width: var(--media-control-size);
  height: var(--media-control-size);
  cursor: pointer;
  border-radius: var(--media-radius-pill);
  border-style: solid;
  color: inherit;
  outline-style: solid;
  outline-offset: calc(2px * -1);
  background-color: #0000;
  border-width: 0;
  outline-width: 2px;
  outline-color: #0000;
  flex-shrink: 0;
  place-items: center;
  padding: 0;
  display: grid;
}

@media (hover: hover) {
  .media-seek-button:hover {
    background-color: var(--media-control-hover-background);
  }
}

.media-seek-button:focus-visible {
  background-color: var(--media-control-hover-background);
  outline-offset: 2px;
  outline-color: currentColor;
}

.media-seek-button[aria-disabled='true'] {
  cursor: not-allowed;
  opacity: 0.5;
}

.media-seek-button[aria-expanded='true'] {
  background-color: var(--media-control-hover-background);
}

.media-seek-button-icon-backward {
  width: var(--media-icon-size);
  height: var(--media-icon-size);
  scale: calc(100% * -1) 1;
  filter: drop-shadow(0 1px 0 var(--media-shadow-color));
}

.media-seek-button-icon-forward {
  width: var(--media-icon-size);
  height: var(--media-icon-size);
  filter: drop-shadow(0 1px 0 var(--media-shadow-color));
}

.media-seek-button-label {
  font-variant-numeric: tabular-nums;
}
