---
import { SITE_TITLE } from '@/consts';
import Base from '@/layouts/Base.astro';
---

<Base title={`Authentication Failed | ${SITE_TITLE}`} description="Authentication Failed">
  <div class="flex items-center justify-center h-screen flex-col">
    <h1 class="text-h4 md:text-h1 text-balance lg:text-pretty">Authentication Failed</h1>
    <p class="md:text-lg text-balance max-w-100">Please try again...</p>
  </div>
</Base>
