---
import NavBar from '@/components/NavBar/NavBar.astro';
import Footer from '@/components/Footer.astro';
import Base from './Base.astro';
import FooterEasterEgg from '@/components/FooterEasterEgg.astro';

interface Props {
  title: string | string[];
  description: string;
  canonical?: string;
}

const { title, description, canonical } = Astro.props;
---

<Base title={title} description={description} canonical={canonical}>
  <slot name="head" slot="head" />
  <div class="min-h-screen flex flex-col">
    <NavBar />
    <main class="px-6 md:px-10 mt-10 md:mt-20 pb-20 md:pb-30">
      <slot />
    </main>
    <Footer class="mt-auto" />
  </div>
  <FooterEasterEgg />
</Base>
