---

import Footer from '@/components/Footer.astro';
import NavBar from '@/components/NavBar/NavBar.astro';
import Base from './Base.astro';

interface Props {
  title: string;
  subtitle?: string;
  description: string;
}

const { title, subtitle, description } = Astro.props;
---

<Base title={subtitle ? [title, subtitle] : title} description={description}>
  <slot name="head" slot="head" />
  <NavBar />
  <main class="mt-10 px-6 pb-24 md:mt-20 md:px-10">
    <article class="@container">
      <header class="border-light-40 mx-auto mb-10 max-w-3xl border-b pb-10">
        <h1 class="mb-2 font-display text-h2 uppercase">{title}</h1>
        <p class="">{description}</p>
      </header>
      <slot />
    </article>
  </main>
  <Footer />
</Base>
