<div class="relative h-52 grid grid-rows-[80px_60px_45px_20px_10px]">
  <div class="bg-yellow"></div>
  <div class="bg-gold"></div>
  <div class="bg-orange"></div>
  <div class="bg-red"></div>
  <div class="bg-magenta"></div>
</div>
