---
import { ArrowUpRight } from 'lucide-react';
import { DISCORD_INVITE_URL, GITHUB_REPO_URL } from '@/consts';
import Discord from './icons/discord.svg?react';
import GitHub from './icons/github.svg?react';
import LogoMonoVersion from './icons/logo-mono.svg?react';
import { ThemeToggle } from './ThemeToggle';

type NavLink = {
  href: string;
  label: string;
  external?: boolean;
};
const navLinks: NavLink[] = [
  { href: '/docs', label: 'Docs' },
  { href: '/blog', label: 'Blog' },
  { href: '/privacy', label: 'Privacy' },
];

type Props = {
  class?: string;
};
const { class: className } = Astro.props;
---

<footer
  class:list={[
    "w-full max-w-305 mx-auto px-5 md:pt-0 pb-11 mt-30 md:mt-32 grid gap-3",
    className,
  ]}
>
  <nav
    class="items-start md:items-start justify-between md:flex-row gap-3 mb-2 sm:mb-0 md:border-t border-faded-black dark:border-light-manila pt-5"
  >
    <nav
      class="text-faded-black dark:text-light-manila flex flex-col md:flex-row gap-0 md:-ml-5"
    >
      <div
        class="flex md:justify-center justify-between border-b border-faded-black dark:border-light-manila md:border-0 pb-3 pt-3 md:pt-0 md:pb-0 border-t"
      >
        {
          navLinks.map((link) => (
            <a
              href={link.href}
              class="hover:bg-dark-manila dark:hover:bg-warm-gray flex items-center px-2 md:px-5 py-2 rounded-sm font-display-extended uppercase font-bold"
            >
              {link.label} {link.external ? <ArrowUpRight size="1em" /> : null}
            </a>
          ))
        }
      </div>
      <div
        class="flex-1 flex gap-4 justify-start md:justify-center pt-5 pb-8 md:gap-0 md:py-0 md:pb-0"
      >
        <a
          href={DISCORD_INVITE_URL}
          class="hover:bg-dark-manila dark:hover:bg-warm-gray flex items-center px-2 md:px-5 py-2 rounded-xs font-display-extended uppercase font-bold"
          aria-label="Discord"
          target="_blank"
          rel="noopener noreferrer"
        >
          <Discord width="1.5em" height="1.5em" />
        </a>
        <a
          href={GITHUB_REPO_URL}
          class="hover:bg-dark-manila dark:hover:bg-warm-gray flex items-center px-2 md:px-5 py-2 rounded-xs font-display-extended uppercase font-bold"
          aria-label="GitHub"
          target="_blank"
          rel="noopener noreferrer"
        >
          <GitHub width="1.5em" height="1.5em" />
        </a>
        <div class="ml-auto">
          <ThemeToggle client:visible />
        </div>
      </div>
    </nav>

    <div
      class="flex flex-col-reverse lg:flex-row justify-between text-end gap-15 md:mt-15 mt-10"
    >
      <div class="relative w-80 lg:w-92">
        <LogoMonoVersion width="100%" />
      </div>
      <p
        class="text-p2 text-left lg:text-right text-faded-black dark:text-light-manila font-sans"
      >
        Video.js is a free and open source HTML5 <a href="/" class="underline"
          >video player.</a
        >
        <br />
        <a
          href="https://www.mux.com?utm_source=videojs&utm_campaign=vjs10"
          class="underline"
        >
          Video hosting and streaming sponsored by Mux
        </a>

        <br /><br />The term VIDEO.JS is a registered trademark of Brightcove
        Inc.
        <br />
        &copy; 2010&ndash;{new Date().getFullYear()} Video.js contributors
      </p>
    </div>
  </nav>
</footer>
