.pip-button-basic {
  display: block;
  position: relative;
}

.pip-button-basic video {
  width: 100%;
}

.pip-button-basic__button {
  padding-block: 8px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  color: black;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 9999px;
  padding-inline: 20px;
  cursor: pointer;
}

.pip-button-basic__button .show-when-pip {
  display: none;
}
.pip-button-basic__button .show-when-not-pip {
  display: none;
}
.pip-button-basic__button[data-pip] .show-when-pip {
  display: inline;
}
.pip-button-basic__button:not([data-pip]) .show-when-not-pip {
  display: inline;
}
