.media-container {
  display: block;
  position: relative;
}

.media-container video {
  width: 100%;
}

.media-pip-button {
  padding-block: 8px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  color: black;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 9999px;
  padding-inline: 20px;
  cursor: pointer;
}

.media-pip-button .show-when-pip {
  display: none;
}
.media-pip-button .show-when-not-pip {
  display: none;
}
.media-pip-button[data-pip] .show-when-pip {
  display: inline;
}
.media-pip-button:not([data-pip]) .show-when-not-pip {
  display: inline;
}
