name: CI

on:
  push:
    branches-ignore:
      - 'rfc/**'
  pull_request:
    branches-ignore:
      - 'rfc/**'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node.js
        uses: actions/setup-node@v5
        with:
          node-version: 22
          cache: pnpm

      - name: Install dependencies
        run: pnpm install

      - name: Cache turbo build setup
        uses: actions/cache@v5
        with:
          path: .turbo
          key: ${{ runner.os }}-turbo-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-turbo-

      - name: Build
        run: pnpm build:packages

      - name: Test SPF
        run: pnpm -F @videojs/spf test:ci

      - name: Test SPF with Coverage
        run: pnpm -F @videojs/spf test:ci --coverage

      - name: Upload Coverage
        uses: codecov/codecov-action@v5
        if: always()
        with:
          files: ./packages/spf/coverage/lcov.info
          flags: spf
          name: spf-coverage
